In [1]:
import pandas as pd

lp = pd.read_csv('LOCAL_PEOPLE_2018.csv', index_col=[0,1,2])
lf = pd.read_csv('LONG_FORIEGNER_2018.csv', index_col=[0,1,2])
tf = pd.read_csv('TEMPORARY_FORIEGNER_2018.csv', index_col=[0,1,2])

lp

                             총생활인구수  남자0세부터9세생활인구수  남자10세부터14세생활인구수  \
기준일ID      시간대구분 자치구코드
2018-01-01 0     11110  256273.0604      6985.3617        3653.8530
                 11140  176621.0532      5326.5131        2013.1455
                 11170  293547.7332      7208.9039        3620.2581
                 11200  322848.8585     11390.5507        4888.1312
                 11215  398578.6493     11217.5545        5884.2123
...                             ...            ...              ...
2018-12-31 23    11620  524916.6579     13590.5873        6565.5665
                 11650  514630.3683     16415.3162        9302.8094
                 11680  686729.5029     19227.7038       12567.1378
                 11710  748228.6015     28140.9981       14473.3287
                 11740  516164.2769     19603.6127       10499.2087

                        남자15세부터19세생활인구수  남자20세부터24세생활인구수  남자25세부터29세생활인구수  \
기준일ID      시간대구분 자치구코드
2018-01-01 0     11110        6572.5156       12986.9063       13727.3330
                 11140        3188.3289        7176.6213        8599.4203
                 11170        5842.7592       11877.4543       15503.0524
                 11200        6877.0558       11178.1725       13050.0497
                 11215       12406.6133       18563.5674       18541.8660
...                                 ...              ...              ...
2018-12-31 23    11620       10200.2129       22375.6621       33873.0854
                 11650       13656.2125       17593.0871       20018.6269
                 11680       21313.5081       24308.6100       29680.7417
                 11710       19229.8765       22680.2903       26807.7935
                 11740       14170.3440       14708.4631       16431.6993

                        남자30세부터34세생활인구수  남자35세부터39세생활인구수  남자40세부터44세생활인구수  \
기준일ID      시간대구분 자치구코드
2018-01-01 0     11110       10311.8520        9760.9616        9545.8237
                 11140        8232.7827        8563.3454        7309.3466
                 11170       14950.5011       14282.3986       11976.9497
                 11200       13011.7403       14332.0556       12911.9814
                 11215       16711.3371       16373.6189       14442.9413
...                                 ...              ...              ...
2018-12-31 23    11620       27510.4731       24559.9512       20593.4517
                 11650       18887.0684       21854.2161       21352.6190
                 11680       28380.6901       31667.5536       28553.1611
                 11710       28706.0535       33785.5693       29396.0349
                 11740       17010.1563       21162.6356       19403.7256

                        남자45세부터49세생활인구수  ...  여자30세부터34세생활인구수  \
기준일ID      시간대구분 자치구코드                   ...
2018-01-01 0     11110       10855.6797  ...        8822.2477
                 11140        7583.3463  ...        7496.8036
                 11170       11730.4098  ...       13860.5926
                 11200       12893.1453  ...       13270.0537
                 11215       15134.5501  ...       16501.2107
...                                 ...  ...              ...
2018-12-31 23    11620       20688.0060  ...       22009.5457
                 11650       24079.9804  ...       19493.7095
                 11680       32028.4848  ...       28731.3934
                 11710       30082.9585  ...       30160.7062
                 11740       21383.1910  ...       17510.7933

                        여자35세부터39세생활인구수  여자40세부터44세생활인구수  여자45세부터49세생활인구수  \
기준일ID      시간대구분 자치구코드
2018-01-01 0     11110        8909.7811        8565.6805        9855.9650
                 11140        7325.9238        6097.7917        6448.4292
                 11170       12488.5361       11016.2786       10689.8140
                 11200       14314.5214       11909.4201       12261.6168
                 11215       16220.3905       13942.7155       15616.1077
...                                 ...              ...              ...
2018-12-31 23    11620       20555.9866       17017.8905       17445.7475
                 11650       22888.7373       20477.8548       22603.7697
                 11680       30130.5140       27626.7533       29630.5392
                 11710       33832.3993       28704.0628       30811.8484
                 11740       21980.8639       19487.3816       21814.8442

                        여자50세부터54세생활인구수  여자55세부터59세생활인구수  여자60세부터64세생활인구수  \
기준일ID      시간대구분 자치구코드
2018-01-01 0     11110        8859.2694        8861.3758        8308.3461
                 11140        5640.9479        6457.4344        5974.6643
                 11170        8628.4710        9484.1050        8862.7852
                 11200       11291.1303       12796.9385       11436.0059
                 11215       14553.9676       15485.9605       13633.0170
...                                 ...              ...              ...
2018-12-31 23    11620       16436.8033       19310.0446       17792.3370
                 11650       17723.7620       18376.2462       17309.4096
                 11680       21634.3518       22176.8834       21920.1091
                 11710       27631.5242       31110.4196       29165.2619
                 11740       19857.2465       24019.1113       22173.7182

                        여자65세부터69세생활인구수  여자70세이상생활인구수      요일
기준일ID      시간대구분 자치구코드
2018-01-01 0     11110        6431.7669    20256.2884  Monday
                 11140        4284.3007    12887.8157  Monday
                 11170        6676.5444    22260.1984  Monday
                 11200        8521.6487    24522.9080  Monday
                 11215        9380.4592    24977.0013  Monday
...                                 ...           ...     ...
2018-12-31 23    11620       15159.9956    34881.8443  Monday
                 11650       13739.6384    34110.9447  Monday
                 11680       17657.7531    41654.7030  Monday
                 11710       20712.2400    47749.9883  Monday
                 11740       16079.2916    35953.3893  Monday

[219000 rows x 30 columns]

In [2]:
lp.drop(['총생활인구수', '요일'], axis=1, inplace=True)
lp

                        남자0세부터9세생활인구수  남자10세부터14세생활인구수  남자15세부터19세생활인구수  \
기준일ID      시간대구분 자치구코드
2018-01-01 0     11110      6985.3617        3653.8530        6572.5156
                 11140      5326.5131        2013.1455        3188.3289
                 11170      7208.9039        3620.2581        5842.7592
                 11200     11390.5507        4888.1312        6877.0558
                 11215     11217.5545        5884.2123       12406.6133
...                               ...              ...              ...
2018-12-31 23    11620     13590.5873        6565.5665       10200.2129
                 11650     16415.3162        9302.8094       13656.2125
                 11680     19227.7038       12567.1378       21313.5081
                 11710     28140.9981       14473.3287       19229.8765
                 11740     19603.6127       10499.2087       14170.3440

                        남자20세부터24세생활인구수  남자25세부터29세생활인구수  남자30세부터34세생활인구수  \
기준일ID      시간대구분 자치구코드
2018-01-01 0     11110       12986.9063       13727.3330       10311.8520
                 11140        7176.6213        8599.4203        8232.7827
                 11170       11877.4543       15503.0524       14950.5011
                 11200       11178.1725       13050.0497       13011.7403
                 11215       18563.5674       18541.8660       16711.3371
...                                 ...              ...              ...
2018-12-31 23    11620       22375.6621       33873.0854       27510.4731
                 11650       17593.0871       20018.6269       18887.0684
                 11680       24308.6100       29680.7417       28380.6901
                 11710       22680.2903       26807.7935       28706.0535
                 11740       14708.4631       16431.6993       17010.1563

                        남자35세부터39세생활인구수  남자40세부터44세생활인구수  남자45세부터49세생활인구수  \
기준일ID      시간대구분 자치구코드
2018-01-01 0     11110        9760.9616        9545.8237       10855.6797
                 11140        8563.3454        7309.3466        7583.3463
                 11170       14282.3986       11976.9497       11730.4098
                 11200       14332.0556       12911.9814       12893.1453
                 11215       16373.6189       14442.9413       15134.5501
...                                 ...              ...              ...
2018-12-31 23    11620       24559.9512       20593.4517       20688.0060
                 11650       21854.2161       21352.6190       24079.9804
                 11680       31667.5536       28553.1611       32028.4848
                 11710       33785.5693       29396.0349       30082.9585
                 11740       21162.6356       19403.7256       21383.1910

                        남자50세부터54세생활인구수  ...  여자25세부터29세생활인구수  \
기준일ID      시간대구분 자치구코드                   ...
2018-01-01 0     11110        9201.9196  ...       11194.3415
                 11140        6499.8334  ...        8013.3547
                 11170        9170.0432  ...       16013.9886
                 11200       10852.4550  ...       12355.4160
                 11215       13709.6848  ...       18362.8934
...                                 ...  ...              ...
2018-12-31 23    11620       15805.6118  ...       28543.6607
                 11650       18212.5083  ...       20040.0592
                 11680       24322.6452  ...       31430.2815
                 11710       25496.1535  ...       28293.6099
                 11740       18222.8111  ...       16499.4012

                        여자30세부터34세생활인구수  여자35세부터39세생활인구수  여자40세부터44세생활인구수  \
기준일ID      시간대구분 자치구코드
2018-01-01 0     11110        8822.2477        8909.7811        8565.6805
                 11140        7496.8036        7325.9238        6097.7917
                 11170       13860.5926       12488.5361       11016.2786
                 11200       13270.0537       14314.5214       11909.4201
                 11215       16501.2107       16220.3905       13942.7155
...                                 ...              ...              ...
2018-12-31 23    11620       22009.5457       20555.9866       17017.8905
                 11650       19493.7095       22888.7373       20477.8548
                 11680       28731.3934       30130.5140       27626.7533
                 11710       30160.7062       33832.3993       28704.0628
                 11740       17510.7933       21980.8639       19487.3816

                        여자45세부터49세생활인구수  여자50세부터54세생활인구수  여자55세부터59세생활인구수  \
기준일ID      시간대구분 자치구코드
2018-01-01 0     11110        9855.9650        8859.2694        8861.3758
                 11140        6448.4292        5640.9479        6457.4344
                 11170       10689.8140        8628.4710        9484.1050
                 11200       12261.6168       11291.1303       12796.9385
                 11215       15616.1077       14553.9676       15485.9605
...                                 ...              ...              ...
2018-12-31 23    11620       17445.7475       16436.8033       19310.0446
                 11650       22603.7697       17723.7620       18376.2462
                 11680       29630.5392       21634.3518       22176.8834
                 11710       30811.8484       27631.5242       31110.4196
                 11740       21814.8442       19857.2465       24019.1113

                        여자60세부터64세생활인구수  여자65세부터69세생활인구수  여자70세이상생활인구수
기준일ID      시간대구분 자치구코드
2018-01-01 0     11110        8308.3461        6431.7669    20256.2884
                 11140        5974.6643        4284.3007    12887.8157
                 11170        8862.7852        6676.5444    22260.1984
                 11200       11436.0059        8521.6487    24522.9080
                 11215       13633.0170        9380.4592    24977.0013
...                                 ...              ...           ...
2018-12-31 23    11620       17792.3370       15159.9956    34881.8443
                 11650       17309.4096       13739.6384    34110.9447
                 11680       21920.1091       17657.7531    41654.7030
                 11710       29165.2619       20712.2400    47749.9883
                 11740       22173.7182       16079.2916    35953.3893

[219000 rows x 28 columns]

In [3]:
lf.drop(['총생활인구수', '요일'], axis=1, inplace=True)
tf.drop('총생활인구수', axis=1, inplace=True)

In [4]:
people = pd.concat([lp, lf, tf], axis=1)
people

                        남자0세부터9세생활인구수  남자10세부터14세생활인구수  남자15세부터19세생활인구수  \
기준일ID      시간대구분 자치구코드
2018-01-01 0     11110      6985.3617        3653.8530        6572.5156
                 11140      5326.5131        2013.1455        3188.3289
                 11170      7208.9039        3620.2581        5842.7592
                 11200     11390.5507        4888.1312        6877.0558
                 11215     11217.5545        5884.2123       12406.6133
...                               ...              ...              ...
2018-12-31 23    11620     13590.5873        6565.5665       10200.2129
                 11650     16415.3162        9302.8094       13656.2125
                 11680     19227.7038       12567.1378       21313.5081
                 11710     28140.9981       14473.3287       19229.8765
                 11740     19603.6127       10499.2087       14170.3440

                        남자20세부터24세생활인구수  남자25세부터29세생활인구수  남자30세부터34세생활인구수  \
기준일ID      시간대구분 자치구코드
2018-01-01 0     11110       12986.9063       13727.3330       10311.8520
                 11140        7176.6213        8599.4203        8232.7827
                 11170       11877.4543       15503.0524       14950.5011
                 11200       11178.1725       13050.0497       13011.7403
                 11215       18563.5674       18541.8660       16711.3371
...                                 ...              ...              ...
2018-12-31 23    11620       22375.6621       33873.0854       27510.4731
                 11650       17593.0871       20018.6269       18887.0684
                 11680       24308.6100       29680.7417       28380.6901
                 11710       22680.2903       26807.7935       28706.0535
                 11740       14708.4631       16431.6993       17010.1563

                        남자35세부터39세생활인구수  남자40세부터44세생활인구수  남자45세부터49세생활인구수  \
기준일ID      시간대구분 자치구코드
2018-01-01 0     11110        9760.9616        9545.8237       10855.6797
                 11140        8563.3454        7309.3466        7583.3463
                 11170       14282.3986       11976.9497       11730.4098
                 11200       14332.0556       12911.9814       12893.1453
                 11215       16373.6189       14442.9413       15134.5501
...                                 ...              ...              ...
2018-12-31 23    11620       24559.9512       20593.4517       20688.0060
                 11650       21854.2161       21352.6190       24079.9804
                 11680       31667.5536       28553.1611       32028.4848
                 11710       33785.5693       29396.0349       30082.9585
                 11740       21162.6356       19403.7256       21383.1910

                        남자50세부터54세생활인구수  ...  여자50세부터54세생활인구수  \
기준일ID      시간대구분 자치구코드                   ...
2018-01-01 0     11110        9201.9196  ...        8859.2694
                 11140        6499.8334  ...        5640.9479
                 11170        9170.0432  ...        8628.4710
                 11200       10852.4550  ...       11291.1303
                 11215       13709.6848  ...       14553.9676
...                                 ...  ...              ...
2018-12-31 23    11620       15805.6118  ...       16436.8033
                 11650       18212.5083  ...       17723.7620
                 11680       24322.6452  ...       21634.3518
                 11710       25496.1535  ...       27631.5242
                 11740       18222.8111  ...       19857.2465

                        여자55세부터59세생활인구수  여자60세부터64세생활인구수  여자65세부터69세생활인구수  \
기준일ID      시간대구분 자치구코드
2018-01-01 0     11110        8861.3758        8308.3461        6431.7669
                 11140        6457.4344        5974.6643        4284.3007
                 11170        9484.1050        8862.7852        6676.5444
                 11200       12796.9385       11436.0059        8521.6487
                 11215       15485.9605       13633.0170        9380.4592
...                                 ...              ...              ...
2018-12-31 23    11620       19310.0446       17792.3370       15159.9956
                 11650       18376.2462       17309.4096       13739.6384
                 11680       22176.8834       21920.1091       17657.7531
                 11710       31110.4196       29165.2619       20712.2400
                 11740       24019.1113       22173.7182       16079.2916

                        여자70세이상생활인구수    중국인체류인구수  중국외외국인체류인구수    중국인체류인구수  \
기준일ID      시간대구분 자치구코드
2018-01-01 0     11110    20256.2884  11021.9181    7705.6280  10666.7580
                 11140    12887.8157  10701.4225    7788.2253  40520.8899
                 11170    22260.1984   5868.1385   18862.4808   5848.2543
                 11200    24522.9080  10779.6041    5861.5144    840.9279
                 11215    24977.0013  20806.0447    5665.1635   1039.5251
...                              ...         ...          ...         ...
2018-12-31 23    11620    34881.8443  20582.7884    4601.0817   1115.8953
                 11650    34110.9447   4521.3356    9660.5473   2085.1647
                 11680    41654.7030   7143.3844   13334.8811  12001.3302
                 11710    47749.9883   9938.1245    8386.0181   1994.8628
                 11740    35953.3893   7974.8799    2325.1343    367.4101

                        중국외외국인체류인구수      요일
기준일ID      시간대구분 자치구코드
2018-01-01 0     11110   11131.5500  Monday
                 11140   41643.5779  Monday
                 11170   11051.1631  Monday
                 11200    1479.1156  Monday
                 11215    1842.5153  Monday
...                             ...     ...
2018-12-31 23    11620    1197.5291  Monday
                 11650    5553.4404  Monday
                 11680   15104.2093  Monday
                 11710    7210.5983  Monday
                 11740     891.4434  Monday

[219000 rows x 33 columns]

In [6]:
people.drop(['남자0세부터9세생활인구수', '남자10세부터14세생활인구수', '여자0세부터9세생활인구수', '여자10세부터14세생활인구수'], axis=1, inplace=True)
people

                        남자15세부터19세생활인구수  남자20세부터24세생활인구수  남자25세부터29세생활인구수  \
기준일ID      시간대구분 자치구코드
2018-01-01 0     11110        6572.5156       12986.9063       13727.3330
                 11140        3188.3289        7176.6213        8599.4203
                 11170        5842.7592       11877.4543       15503.0524
                 11200        6877.0558       11178.1725       13050.0497
                 11215       12406.6133       18563.5674       18541.8660
...                                 ...              ...              ...
2018-12-31 23    11620       10200.2129       22375.6621       33873.0854
                 11650       13656.2125       17593.0871       20018.6269
                 11680       21313.5081       24308.6100       29680.7417
                 11710       19229.8765       22680.2903       26807.7935
                 11740       14170.3440       14708.4631       16431.6993

                        남자30세부터34세생활인구수  남자35세부터39세생활인구수  남자40세부터44세생활인구수  \
기준일ID      시간대구분 자치구코드
2018-01-01 0     11110       10311.8520        9760.9616        9545.8237
                 11140        8232.7827        8563.3454        7309.3466
                 11170       14950.5011       14282.3986       11976.9497
                 11200       13011.7403       14332.0556       12911.9814
                 11215       16711.3371       16373.6189       14442.9413
...                                 ...              ...              ...
2018-12-31 23    11620       27510.4731       24559.9512       20593.4517
                 11650       18887.0684       21854.2161       21352.6190
                 11680       28380.6901       31667.5536       28553.1611
                 11710       28706.0535       33785.5693       29396.0349
                 11740       17010.1563       21162.6356       19403.7256

                        남자45세부터49세생활인구수  남자50세부터54세생활인구수  남자55세부터59세생활인구수  \
기준일ID      시간대구분 자치구코드
2018-01-01 0     11110       10855.6797        9201.9196        9354.9619
                 11140        7583.3463        6499.8334        6448.6207
                 11170       11730.4098        9170.0432        9232.0699
                 11200       12893.1453       10852.4550       12186.7135
                 11215       15134.5501       13709.6848       13763.3142
...                                 ...              ...              ...
2018-12-31 23    11620       20688.0060       15805.6118       16200.1687
                 11650       24079.9804       18212.5083       17001.9926
                 11680       32028.4848       24322.6452       21275.1327
                 11710       30082.9585       25496.1535       26679.5703
                 11740       21383.1910       18222.8111       20251.9912

                        남자60세부터64세생활인구수  ...  여자50세부터54세생활인구수  \
기준일ID      시간대구분 자치구코드                   ...
2018-01-01 0     11110        7672.1094  ...        8859.2694
                 11140        5519.4808  ...        5640.9479
                 11170        7613.4592  ...        8628.4710
                 11200        9589.1208  ...       11291.1303
                 11215       11032.6871  ...       14553.9676
...                                 ...  ...              ...
2018-12-31 23    11620       13839.3728  ...       16436.8033
                 11650       14953.4024  ...       17723.7620
                 11680       18036.8329  ...       21634.3518
                 11710       23091.8021  ...       27631.5242
                 11740       17359.4038  ...       19857.2465

                        여자55세부터59세생활인구수  여자60세부터64세생활인구수  여자65세부터69세생활인구수  \
기준일ID      시간대구분 자치구코드
2018-01-01 0     11110        8861.3758        8308.3461        6431.7669
                 11140        6457.4344        5974.6643        4284.3007
                 11170        9484.1050        8862.7852        6676.5444
                 11200       12796.9385       11436.0059        8521.6487
                 11215       15485.9605       13633.0170        9380.4592
...                                 ...              ...              ...
2018-12-31 23    11620       19310.0446       17792.3370       15159.9956
                 11650       18376.2462       17309.4096       13739.6384
                 11680       22176.8834       21920.1091       17657.7531
                 11710       31110.4196       29165.2619       20712.2400
                 11740       24019.1113       22173.7182       16079.2916

                        여자70세이상생활인구수    중국인체류인구수  중국외외국인체류인구수    중국인체류인구수  \
기준일ID      시간대구분 자치구코드
2018-01-01 0     11110    20256.2884  11021.9181    7705.6280  10666.7580
                 11140    12887.8157  10701.4225    7788.2253  40520.8899
                 11170    22260.1984   5868.1385   18862.4808   5848.2543
                 11200    24522.9080  10779.6041    5861.5144    840.9279
                 11215    24977.0013  20806.0447    5665.1635   1039.5251
...                              ...         ...          ...         ...
2018-12-31 23    11620    34881.8443  20582.7884    4601.0817   1115.8953
                 11650    34110.9447   4521.3356    9660.5473   2085.1647
                 11680    41654.7030   7143.3844   13334.8811  12001.3302
                 11710    47749.9883   9938.1245    8386.0181   1994.8628
                 11740    35953.3893   7974.8799    2325.1343    367.4101

                        중국외외국인체류인구수      요일
기준일ID      시간대구분 자치구코드
2018-01-01 0     11110   11131.5500  Monday
                 11140   41643.5779  Monday
                 11170   11051.1631  Monday
                 11200    1479.1156  Monday
                 11215    1842.5153  Monday
...                             ...     ...
2018-12-31 23    11620    1197.5291  Monday
                 11650    5553.4404  Monday
                 11680   15104.2093  Monday
                 11710    7210.5983  Monday
                 11740     891.4434  Monday

[219000 rows x 29 columns]

In [7]:
people.to_csv('2018생활인구.csv')