In [1]:
import pandas as pd

people = pd.read_csv('2018전처리.csv', index_col=[0,1])
rate = pd.read_csv('흡연율2018.csv', index_col=0)

people

          남성연령_20  남성연령_30  남성연령_40  남성연령_50  남성연령_60  남성연령_70  여성연령_20  \
자치구코드 월
강남구   1   66130.0  94273.0  86239.0  55571.0  38224.0  31437.0  89270.0
      2   63585.0  90859.0  83297.0  54065.0  37455.0  31204.0  85243.0
      3   61467.0  94319.0  86760.0  55529.0  37901.0  31379.0  85939.0
      4   61203.0  95197.0  86811.0  55459.0  37412.0  30741.0  86241.0
      5   60092.0  90665.0  83300.0  53896.0  36555.0  30291.0  83486.0
...           ...      ...      ...      ...      ...      ...      ...
중랑구   8   22414.0  25087.0  25483.0  26933.0  20480.0  17314.0  23736.0
      9   22330.0  25460.0  25918.0  26971.0  20499.0  17458.0  23225.0
      10  22270.0  25160.0  25544.0  26632.0  20267.0  17233.0  23344.0
      11  21973.0  24895.0  25386.0  26560.0  20168.0  17397.0  23083.0
      12  22554.0  25234.0  25724.0  27297.0  21144.0  18240.0  23242.0

          여성연령_30  여성연령_40  여성연령_50  여성연령_60  여성연령_70      외국인
자치구코드 월
강남구   1   88748.0  70802.0  54448.0  48373.0  47162.0  45929.0
      2   85966.0  68495.0  53090.0  47350.0  46499.0  40153.0
      3   89765.0  71139.0  54137.0  48460.0  47424.0  41009.0
      4   90462.0  70973.0  53485.0  47797.0  46428.0  41590.0
      5   87055.0  69489.0  52368.0  46418.0  46171.0  42665.0
...           ...      ...      ...      ...      ...      ...
중랑구   8   26447.0  27112.0  32352.0  25509.0  29839.0   6549.0
      9   26691.0  27555.0  32493.0  25674.0  30347.0   6446.0
      10  26911.0  27474.0  32525.0  25382.0  30051.0   6295.0
      11  26794.0  27415.0  32516.0  25389.0  30038.0   6240.0
      12  26811.0  27445.0  33106.0  26171.0  30704.0   6372.0

[300 rows x 13 columns]

In [2]:
rate

       흡연율
성연령별
남성20  34.9
남성30  39.9
남성40  44.1
남성50  40.6
남성60  26.7
남성70  14.7
여성20  10.9
여성30   8.3
여성40   8.7
여성50   5.0
여성60   3.6
여성70   1.1
외국인   21.1

In [3]:
smoker = 0

for column, smoke_rate in zip(people, rate['흡연율']):
    smoker += people[column].apply(lambda x: x * smoke_rate / 100)

smoker

자치구코드  월
강남구    1     174044.486
       2     167444.348
       3     171256.390
       4     171415.792
       5     166148.207
                ...
중랑구    8      59405.379
       9      59758.333
       10     59200.261
       11     58834.399
       12     60119.404
Name: 남성연령_20, Length: 300, dtype: float64

In [4]:
people['총예상흡연자수'] = smoker
people

          남성연령_20  남성연령_30  남성연령_40  남성연령_50  남성연령_60  남성연령_70  여성연령_20  \
자치구코드 월
강남구   1   66130.0  94273.0  86239.0  55571.0  38224.0  31437.0  89270.0
      2   63585.0  90859.0  83297.0  54065.0  37455.0  31204.0  85243.0
      3   61467.0  94319.0  86760.0  55529.0  37901.0  31379.0  85939.0
      4   61203.0  95197.0  86811.0  55459.0  37412.0  30741.0  86241.0
      5   60092.0  90665.0  83300.0  53896.0  36555.0  30291.0  83486.0
...           ...      ...      ...      ...      ...      ...      ...
중랑구   8   22414.0  25087.0  25483.0  26933.0  20480.0  17314.0  23736.0
      9   22330.0  25460.0  25918.0  26971.0  20499.0  17458.0  23225.0
      10  22270.0  25160.0  25544.0  26632.0  20267.0  17233.0  23344.0
      11  21973.0  24895.0  25386.0  26560.0  20168.0  17397.0  23083.0
      12  22554.0  25234.0  25724.0  27297.0  21144.0  18240.0  23242.0

          여성연령_30  여성연령_40  여성연령_50  여성연령_60  여성연령_70      외국인     총예상흡연자수
자치구코드 월
강남구   1   88748.0  70802.0  54448.0  48373.0  47162.0  45929.0  174044.486
      2   85966.0  68495.0  53090.0  47350.0  46499.0  40153.0  167444.348
      3   89765.0  71139.0  54137.0  48460.0  47424.0  41009.0  171256.390
      4   90462.0  70973.0  53485.0  47797.0  46428.0  41590.0  171415.792
      5   87055.0  69489.0  52368.0  46418.0  46171.0  42665.0  166148.207
...           ...      ...      ...      ...      ...      ...         ...
중랑구   8   26447.0  27112.0  32352.0  25509.0  29839.0   6549.0   59405.379
      9   26691.0  27555.0  32493.0  25674.0  30347.0   6446.0   59758.333
      10  26911.0  27474.0  32525.0  25382.0  30051.0   6295.0   59200.261
      11  26794.0  27415.0  32516.0  25389.0  30038.0   6240.0   58834.399
      12  26811.0  27445.0  33106.0  26171.0  30704.0   6372.0   60119.404

[300 rows x 14 columns]

In [5]:
people = people.round()
people = people.astype('int')
people

          남성연령_20  남성연령_30  남성연령_40  남성연령_50  남성연령_60  남성연령_70  여성연령_20  \
자치구코드 월
강남구   1     66130    94273    86239    55571    38224    31437    89270
      2     63585    90859    83297    54065    37455    31204    85243
      3     61467    94319    86760    55529    37901    31379    85939
      4     61203    95197    86811    55459    37412    30741    86241
      5     60092    90665    83300    53896    36555    30291    83486
...           ...      ...      ...      ...      ...      ...      ...
중랑구   8     22414    25087    25483    26933    20480    17314    23736
      9     22330    25460    25918    26971    20499    17458    23225
      10    22270    25160    25544    26632    20267    17233    23344
      11    21973    24895    25386    26560    20168    17397    23083
      12    22554    25234    25724    27297    21144    18240    23242

          여성연령_30  여성연령_40  여성연령_50  여성연령_60  여성연령_70    외국인  총예상흡연자수
자치구코드 월
강남구   1     88748    70802    54448    48373    47162  45929   174044
      2     85966    68495    53090    47350    46499  40153   167444
      3     89765    71139    54137    48460    47424  41009   171256
      4     90462    70973    53485    47797    46428  41590   171416
      5     87055    69489    52368    46418    46171  42665   166148
...           ...      ...      ...      ...      ...    ...      ...
중랑구   8     26447    27112    32352    25509    29839   6549    59405
      9     26691    27555    32493    25674    30347   6446    59758
      10    26911    27474    32525    25382    30051   6295    59200
      11    26794    27415    32516    25389    30038   6240    58834
      12    26811    27445    33106    26171    30704   6372    60119

[300 rows x 14 columns]