In [1]:
import pandas as pd

lp = pd.read_csv('LOCAL_PEOPLE_2019-1.csv', index_col=[0,1,2])
lf = pd.read_csv('LONG_FOREIGNER_2019-1.csv', index_col=[0,1,2])
tf = pd.read_csv('TEMPORARY_FOREIGNER_2019-1.csv', index_col=[0,1,2])

lp

                             총생활인구수  남자0세부터9세생활인구수  남자10세부터14세생활인구수  \
기준일ID      시간대구분 자치구코드
2019-01-01 0     11110  247783.9476      6613.1044        3564.9470
                 11140  176516.2769      4735.9065        1857.9963
                 11170  287806.8492      7274.7405        3654.3768
                 11200  335106.5204     12278.8839        5306.1528
                 11215  399818.0269     12003.9916        6472.3827
...                             ...            ...              ...
2019-12-31 23    11620  512045.7410     13292.1313        6492.1774
                 11650  507017.9562     17249.4614        9728.3280
                 11680  701730.1925     21768.6379       14313.7773
                 11710  776809.6518     29303.9813       15154.6352
                 11740  522271.9542     20543.7319       10960.7816

                        남자15세부터19세생활인구수  남자20세부터24세생활인구수  남자25세부터29세생활인구수  \
기준일ID      시간대구분 자치구코드
2019-01-01 0     11110        6134.7190       12757.6730       13424.9912
                 11140        3251.4707        7456.5552        8482.9745
                 11170        5865.4531       11656.1407       15548.7770
                 11200        6766.7787       11593.4668       13941.8426
                 11215       12056.0837       17503.8179       18611.2942
...                                 ...              ...              ...
2019-12-31 23    11620       10001.0660       20423.9464       34108.8311
                 11650       15440.6841       15643.9679       18565.4597
                 11680       22627.7125       21085.1486       29039.6792
                 11710       21907.8004       21864.3757       29286.5636
                 11740       14363.6445       13441.0008       16460.9813

                        남자30세부터34세생활인구수  남자35세부터39세생활인구수  남자40세부터44세생활인구수  \
기준일ID      시간대구분 자치구코드
2019-01-01 0     11110        9679.4043        9262.2696        8848.0894
                 11140        8253.8513        8825.0475        7428.9318
                 11170       14457.9881       14558.2617       11628.1637
                 11200       13447.0673       15633.1375       13118.8203
                 11215       16219.1953       16342.7514       14264.8802
...                                 ...              ...              ...
2019-12-31 23    11620       27984.1499       24230.3331       19785.6514
                 11650       17723.9030       21873.1745       21405.3995
                 11680       28890.8864       32848.9924       31029.3772
                 11710       29977.2304       35285.9001       31151.5118
                 11740       17401.2642       21693.0864       21098.7997

                        남자45세부터49세생활인구수  ...  여자35세부터39세생활인구수  \
기준일ID      시간대구분 자치구코드                   ...
2019-01-01 0     11110       10681.7986  ...        8669.4651
                 11140        8197.1737  ...        7345.0904
                 11170       11981.9712  ...       13009.2350
                 11200       13823.0800  ...       15142.1260
                 11215       15836.1358  ...       16158.7700
...                                 ...  ...              ...
2019-12-31 23    11620       20588.4961  ...       20459.1792
                 11650       24728.4046  ...       23145.8814
                 11680       33805.0564  ...       32070.2938
                 11710       31610.8652  ...       35769.2569
                 11740       21905.0706  ...       22014.1676

                        여자40세부터44세생활인구수  여자45세부터49세생활인구수  여자50세부터54세생활인구수  \
기준일ID      시간대구분 자치구코드
2019-01-01 0     11110        7764.7926        9659.7779        8421.0455
                 11140        5858.8981        6255.6065        5525.2377
                 11170       10794.0704       10880.1619        8360.3558
                 11200       12029.9710       13051.1879       11475.2065
                 11215       14059.8023       15750.9307       14705.5715
...                                 ...              ...              ...
2019-12-31 23    11620       16839.3671       17200.5078       16012.9977
                 11650       21481.7859       22961.2336       17494.8242
                 11680       30395.5776       31006.2854       21940.4235
                 11710       30872.0662       31988.1565       27188.8780
                 11740       20677.4726       21839.8532       19902.3094

                        여자55세부터59세생활인구수  여자60세부터64세생활인구수  여자65세부터69세생활인구수  \
기준일ID      시간대구분 자치구코드
2019-01-01 0     11110        8671.2045        8079.0106        6242.6970
                 11140        6293.4810        5906.2118        4298.7062
                 11170        9568.1641        8703.7465        6648.3724
                 11200       13219.4730       12022.8741        9093.4057
                 11215       15708.3156       14021.6731        9907.6266
...                                 ...              ...              ...
2019-12-31 23    11620       18377.4578       16540.6608       13771.6139
                 11650       17660.0288       16583.0255       12881.3183
                 11680       22145.4239       21115.0631       16258.7322
                 11710       31098.6350       27865.7032       20081.3478
                 11740       23881.2715       21770.4235       16505.9461

                        여자70세이상생활인구수       요일   월
기준일ID      시간대구분 자치구코드
2019-01-01 0     11110    17962.9680  Tuesday   1
                 11140    12303.3213  Tuesday   1
                 11170    20296.2431  Tuesday   1
                 11200    24370.0786  Tuesday   1
                 11215    24975.8391  Tuesday   1
...                              ...      ...  ..
2019-12-31 23    11620    32595.2666  Tuesday  12
                 11650    30976.3635  Tuesday  12
                 11680    39325.7057  Tuesday  12
                 11710    44078.4656  Tuesday  12
                 11740    35222.8552  Tuesday  12

[211200 rows x 31 columns]

In [2]:
lp.drop(['총생활인구수', '요일', '월'], axis=1, inplace=True)
lp

                        남자0세부터9세생활인구수  남자10세부터14세생활인구수  남자15세부터19세생활인구수  \
기준일ID      시간대구분 자치구코드
2019-01-01 0     11110      6613.1044        3564.9470        6134.7190
                 11140      4735.9065        1857.9963        3251.4707
                 11170      7274.7405        3654.3768        5865.4531
                 11200     12278.8839        5306.1528        6766.7787
                 11215     12003.9916        6472.3827       12056.0837
...                               ...              ...              ...
2019-12-31 23    11620     13292.1313        6492.1774       10001.0660
                 11650     17249.4614        9728.3280       15440.6841
                 11680     21768.6379       14313.7773       22627.7125
                 11710     29303.9813       15154.6352       21907.8004
                 11740     20543.7319       10960.7816       14363.6445

                        남자20세부터24세생활인구수  남자25세부터29세생활인구수  남자30세부터34세생활인구수  \
기준일ID      시간대구분 자치구코드
2019-01-01 0     11110       12757.6730       13424.9912        9679.4043
                 11140        7456.5552        8482.9745        8253.8513
                 11170       11656.1407       15548.7770       14457.9881
                 11200       11593.4668       13941.8426       13447.0673
                 11215       17503.8179       18611.2942       16219.1953
...                                 ...              ...              ...
2019-12-31 23    11620       20423.9464       34108.8311       27984.1499
                 11650       15643.9679       18565.4597       17723.9030
                 11680       21085.1486       29039.6792       28890.8864
                 11710       21864.3757       29286.5636       29977.2304
                 11740       13441.0008       16460.9813       17401.2642

                        남자35세부터39세생활인구수  남자40세부터44세생활인구수  남자45세부터49세생활인구수  \
기준일ID      시간대구분 자치구코드
2019-01-01 0     11110        9262.2696        8848.0894       10681.7986
                 11140        8825.0475        7428.9318        8197.1737
                 11170       14558.2617       11628.1637       11981.9712
                 11200       15633.1375       13118.8203       13823.0800
                 11215       16342.7514       14264.8802       15836.1358
...                                 ...              ...              ...
2019-12-31 23    11620       24230.3331       19785.6514       20588.4961
                 11650       21873.1745       21405.3995       24728.4046
                 11680       32848.9924       31029.3772       33805.0564
                 11710       35285.9001       31151.5118       31610.8652
                 11740       21693.0864       21098.7997       21905.0706

                        남자50세부터54세생활인구수  ...  여자25세부터29세생활인구수  \
기준일ID      시간대구분 자치구코드                   ...
2019-01-01 0     11110        8714.1070  ...       11592.6358
                 11140        6504.4628  ...        8654.7543
                 11170        9194.8169  ...       16203.3581
                 11200       11392.2390  ...       13656.2699
                 11215       13829.2891  ...       17737.9096
...                                 ...  ...              ...
2019-12-31 23    11620       15752.1603  ...       29361.7592
                 11650       18367.0695  ...       18985.1085
                 11680       25400.8258  ...       31572.3410
                 11710       25682.6753  ...       33346.5810
                 11740       18251.6734  ...       16613.2490

                        여자30세부터34세생활인구수  여자35세부터39세생활인구수  여자40세부터44세생활인구수  \
기준일ID      시간대구분 자치구코드
2019-01-01 0     11110        8455.5240        8669.4651        7764.7926
                 11140        7425.3943        7345.0904        5858.8981
                 11170       13423.3780       13009.2350       10794.0704
                 11200       14046.9836       15142.1260       12029.9710
                 11215       16189.7277       16158.7700       14059.8023
...                                 ...              ...              ...
2019-12-31 23    11620       22645.1803       20459.1792       16839.3671
                 11650       18778.2261       23145.8814       21481.7859
                 11680       29317.5029       32070.2938       30395.5776
                 11710       32816.1799       35769.2569       30872.0662
                 11740       18320.0779       22014.1676       20677.4726

                        여자45세부터49세생활인구수  여자50세부터54세생활인구수  여자55세부터59세생활인구수  \
기준일ID      시간대구분 자치구코드
2019-01-01 0     11110        9659.7779        8421.0455        8671.2045
                 11140        6255.6065        5525.2377        6293.4810
                 11170       10880.1619        8360.3558        9568.1641
                 11200       13051.1879       11475.2065       13219.4730
                 11215       15750.9307       14705.5715       15708.3156
...                                 ...              ...              ...
2019-12-31 23    11620       17200.5078       16012.9977       18377.4578
                 11650       22961.2336       17494.8242       17660.0288
                 11680       31006.2854       21940.4235       22145.4239
                 11710       31988.1565       27188.8780       31098.6350
                 11740       21839.8532       19902.3094       23881.2715

                        여자60세부터64세생활인구수  여자65세부터69세생활인구수  여자70세이상생활인구수
기준일ID      시간대구분 자치구코드
2019-01-01 0     11110        8079.0106        6242.6970    17962.9680
                 11140        5906.2118        4298.7062    12303.3213
                 11170        8703.7465        6648.3724    20296.2431
                 11200       12022.8741        9093.4057    24370.0786
                 11215       14021.6731        9907.6266    24975.8391
...                                 ...              ...           ...
2019-12-31 23    11620       16540.6608       13771.6139    32595.2666
                 11650       16583.0255       12881.3183    30976.3635
                 11680       21115.0631       16258.7322    39325.7057
                 11710       27865.7032       20081.3478    44078.4656
                 11740       21770.4235       16505.9461    35222.8552

[211200 rows x 28 columns]

In [3]:
lf.drop(['총생활인구수', '요일', '월'], axis=1, inplace=True)
tf.drop('총생활인구수', axis=1, inplace=True)

In [4]:
people = pd.concat([lp, lf, tf], axis=1)
people

                        남자0세부터9세생활인구수  남자10세부터14세생활인구수  남자15세부터19세생활인구수  \
기준일ID      시간대구분 자치구코드
2019-01-01 0     11110      6613.1044        3564.9470        6134.7190
                 11140      4735.9065        1857.9963        3251.4707
                 11170      7274.7405        3654.3768        5865.4531
                 11200     12278.8839        5306.1528        6766.7787
                 11215     12003.9916        6472.3827       12056.0837
...                               ...              ...              ...
2019-12-31 23    11620     13292.1313        6492.1774       10001.0660
                 11650     17249.4614        9728.3280       15440.6841
                 11680     21768.6379       14313.7773       22627.7125
                 11710     29303.9813       15154.6352       21907.8004
                 11740     20543.7319       10960.7816       14363.6445

                        남자20세부터24세생활인구수  남자25세부터29세생활인구수  남자30세부터34세생활인구수  \
기준일ID      시간대구분 자치구코드
2019-01-01 0     11110       12757.6730       13424.9912        9679.4043
                 11140        7456.5552        8482.9745        8253.8513
                 11170       11656.1407       15548.7770       14457.9881
                 11200       11593.4668       13941.8426       13447.0673
                 11215       17503.8179       18611.2942       16219.1953
...                                 ...              ...              ...
2019-12-31 23    11620       20423.9464       34108.8311       27984.1499
                 11650       15643.9679       18565.4597       17723.9030
                 11680       21085.1486       29039.6792       28890.8864
                 11710       21864.3757       29286.5636       29977.2304
                 11740       13441.0008       16460.9813       17401.2642

                        남자35세부터39세생활인구수  남자40세부터44세생활인구수  남자45세부터49세생활인구수  \
기준일ID      시간대구분 자치구코드
2019-01-01 0     11110        9262.2696        8848.0894       10681.7986
                 11140        8825.0475        7428.9318        8197.1737
                 11170       14558.2617       11628.1637       11981.9712
                 11200       15633.1375       13118.8203       13823.0800
                 11215       16342.7514       14264.8802       15836.1358
...                                 ...              ...              ...
2019-12-31 23    11620       24230.3331       19785.6514       20588.4961
                 11650       21873.1745       21405.3995       24728.4046
                 11680       32848.9924       31029.3772       33805.0564
                 11710       35285.9001       31151.5118       31610.8652
                 11740       21693.0864       21098.7997       21905.0706

                        남자50세부터54세생활인구수  ...  여자55세부터59세생활인구수  \
기준일ID      시간대구분 자치구코드                   ...
2019-01-01 0     11110        8714.1070  ...        8671.2045
                 11140        6504.4628  ...        6293.4810
                 11170        9194.8169  ...        9568.1641
                 11200       11392.2390  ...       13219.4730
                 11215       13829.2891  ...       15708.3156
...                                 ...  ...              ...
2019-12-31 23    11620       15752.1603  ...       18377.4578
                 11650       18367.0695  ...       17660.0288
                 11680       25400.8258  ...       22145.4239
                 11710       25682.6753  ...       31098.6350
                 11740       18251.6734  ...       23881.2715

                        여자60세부터64세생활인구수  여자65세부터69세생활인구수  여자70세이상생활인구수  \
기준일ID      시간대구분 자치구코드
2019-01-01 0     11110        8079.0106        6242.6970    17962.9680
                 11140        5906.2118        4298.7062    12303.3213
                 11170        8703.7465        6648.3724    20296.2431
                 11200       12022.8741        9093.4057    24370.0786
                 11215       14021.6731        9907.6266    24975.8391
...                                 ...              ...           ...
2019-12-31 23    11620       16540.6608       13771.6139    32595.2666
                 11650       16583.0255       12881.3183    30976.3635
                 11680       21115.0631       16258.7322    39325.7057
                 11710       27865.7032       20081.3478    44078.4656
                 11740       21770.4235       16505.9461    35222.8552

                          중국인체류인구수  중국외외국인체류인구수    중국인체류인구수  중국외외국인체류인구수  \
기준일ID      시간대구분 자치구코드
2019-01-01 0     11110  11035.0773    6746.8132   8987.5825    9716.9030
                 11140  10923.9122    7078.7062  29424.3341   35445.8501
                 11170   5907.9073   21398.4597   4178.1144   10545.8802
                 11200  10136.1296    7088.9600    639.9332    1524.8298
                 11215  20028.8521    5978.9571   1409.8304    1598.7258
...                            ...          ...         ...          ...
2019-12-31 23    11620  18935.6050    4698.8936   1074.1549    1041.8597
                 11650   4467.6237    7815.0499   2227.6605    5512.0892
                 11680   9083.4988   14138.9230  10486.5165   18569.0526
                 11710  10507.4467   10956.3839   3885.5880    8568.6387
                 11740   7564.1576    2176.3825    368.9743     918.0227

                             요일   월
기준일ID      시간대구분 자치구코드
2019-01-01 0     11110  Tuesday   1
                 11140  Tuesday   1
                 11170  Tuesday   1
                 11200  Tuesday   1
                 11215  Tuesday   1
...                         ...  ..
2019-12-31 23    11620  Tuesday  12
                 11650  Tuesday  12
                 11680  Tuesday  12
                 11710  Tuesday  12
                 11740  Tuesday  12

[211200 rows x 34 columns]

In [5]:
people.drop(['남자0세부터9세생활인구수', '남자10세부터14세생활인구수', '여자0세부터9세생활인구수', '여자10세부터14세생활인구수'], axis=1, inplace=True)
people

                        남자15세부터19세생활인구수  남자20세부터24세생활인구수  남자25세부터29세생활인구수  \
기준일ID      시간대구분 자치구코드
2019-01-01 0     11110        6134.7190       12757.6730       13424.9912
                 11140        3251.4707        7456.5552        8482.9745
                 11170        5865.4531       11656.1407       15548.7770
                 11200        6766.7787       11593.4668       13941.8426
                 11215       12056.0837       17503.8179       18611.2942
...                                 ...              ...              ...
2019-12-31 23    11620       10001.0660       20423.9464       34108.8311
                 11650       15440.6841       15643.9679       18565.4597
                 11680       22627.7125       21085.1486       29039.6792
                 11710       21907.8004       21864.3757       29286.5636
                 11740       14363.6445       13441.0008       16460.9813

                        남자30세부터34세생활인구수  남자35세부터39세생활인구수  남자40세부터44세생활인구수  \
기준일ID      시간대구분 자치구코드
2019-01-01 0     11110        9679.4043        9262.2696        8848.0894
                 11140        8253.8513        8825.0475        7428.9318
                 11170       14457.9881       14558.2617       11628.1637
                 11200       13447.0673       15633.1375       13118.8203
                 11215       16219.1953       16342.7514       14264.8802
...                                 ...              ...              ...
2019-12-31 23    11620       27984.1499       24230.3331       19785.6514
                 11650       17723.9030       21873.1745       21405.3995
                 11680       28890.8864       32848.9924       31029.3772
                 11710       29977.2304       35285.9001       31151.5118
                 11740       17401.2642       21693.0864       21098.7997

                        남자45세부터49세생활인구수  남자50세부터54세생활인구수  남자55세부터59세생활인구수  \
기준일ID      시간대구분 자치구코드
2019-01-01 0     11110       10681.7986        8714.1070        9354.0059
                 11140        8197.1737        6504.4628        6735.1458
                 11170       11981.9712        9194.8169        9173.4213
                 11200       13823.0800       11392.2390       12454.7214
                 11215       15836.1358       13829.2891       14713.9075
...                                 ...              ...              ...
2019-12-31 23    11620       20588.4961       15752.1603       15737.2213
                 11650       24728.4046       18367.0695       16876.9046
                 11680       33805.0564       25400.8258       21401.6495
                 11710       31610.8652       25682.6753       26735.5932
                 11740       21905.0706       18251.6734       20106.4149

                        남자60세부터64세생활인구수  ...  여자55세부터59세생활인구수  \
기준일ID      시간대구분 자치구코드                   ...
2019-01-01 0     11110        7341.9544  ...        8671.2045
                 11140        5744.2859  ...        6293.4810
                 11170        7656.9782  ...        9568.1641
                 11200       10200.9935  ...       13219.4730
                 11215       11430.5149  ...       15708.3156
...                                 ...  ...              ...
2019-12-31 23    11620       13335.2066  ...       18377.4578
                 11650       13989.8736  ...       17660.0288
                 11680       17294.1599  ...       22145.4239
                 11710       22667.4100  ...       31098.6350
                 11740       17335.2216  ...       23881.2715

                        여자60세부터64세생활인구수  여자65세부터69세생활인구수  여자70세이상생활인구수  \
기준일ID      시간대구분 자치구코드
2019-01-01 0     11110        8079.0106        6242.6970    17962.9680
                 11140        5906.2118        4298.7062    12303.3213
                 11170        8703.7465        6648.3724    20296.2431
                 11200       12022.8741        9093.4057    24370.0786
                 11215       14021.6731        9907.6266    24975.8391
...                                 ...              ...           ...
2019-12-31 23    11620       16540.6608       13771.6139    32595.2666
                 11650       16583.0255       12881.3183    30976.3635
                 11680       21115.0631       16258.7322    39325.7057
                 11710       27865.7032       20081.3478    44078.4656
                 11740       21770.4235       16505.9461    35222.8552

                          중국인체류인구수  중국외외국인체류인구수    중국인체류인구수  중국외외국인체류인구수  \
기준일ID      시간대구분 자치구코드
2019-01-01 0     11110  11035.0773    6746.8132   8987.5825    9716.9030
                 11140  10923.9122    7078.7062  29424.3341   35445.8501
                 11170   5907.9073   21398.4597   4178.1144   10545.8802
                 11200  10136.1296    7088.9600    639.9332    1524.8298
                 11215  20028.8521    5978.9571   1409.8304    1598.7258
...                            ...          ...         ...          ...
2019-12-31 23    11620  18935.6050    4698.8936   1074.1549    1041.8597
                 11650   4467.6237    7815.0499   2227.6605    5512.0892
                 11680   9083.4988   14138.9230  10486.5165   18569.0526
                 11710  10507.4467   10956.3839   3885.5880    8568.6387
                 11740   7564.1576    2176.3825    368.9743     918.0227

                             요일   월
기준일ID      시간대구분 자치구코드
2019-01-01 0     11110  Tuesday   1
                 11140  Tuesday   1
                 11170  Tuesday   1
                 11200  Tuesday   1
                 11215  Tuesday   1
...                         ...  ..
2019-12-31 23    11620  Tuesday  12
                 11650  Tuesday  12
                 11680  Tuesday  12
                 11710  Tuesday  12
                 11740  Tuesday  12

[211200 rows x 30 columns]

In [6]:
people.to_csv('2019생활인구.csv')