In [1]:
import pandas as pd

people = pd.read_csv('2019전처리.csv', index_col=[0,1])
rate = pd.read_csv('흡연율2019.csv', index_col=0)

people

          남성연령_20  남성연령_30  남성연령_40  남성연령_50  남성연령_60  남성연령_70  여성연령_20  \
자치구코드 월
강남구   1   64321.0  92011.0  86743.0  56486.0  37015.0  30962.0  87841.0
      2   58003.0  83900.0  80016.0  52660.0  35057.0  29744.0  78905.0
      3   57495.0  91031.0  86799.0  55820.0  36481.0  30379.0  82202.0
      4   55916.0  90196.0  86086.0  55002.0  35601.0  29537.0  81480.0
      5   54722.0  86368.0  81992.0  52295.0  33817.0  27840.0  79805.0
...           ...      ...      ...      ...      ...      ...      ...
중랑구   8   21800.0  24509.0  25117.0  26612.0  20448.0  17774.0  23447.0
      9   21026.0  24640.0  25505.0  26825.0  20525.0  17817.0  23063.0
      10  20839.0  24413.0  25172.0  26402.0  20012.0  17410.0  23052.0
      11  20776.0  24200.0  25193.0  26665.0  20335.0  17794.0  23160.0
      12  21070.0  24655.0  25549.0  27108.0  20645.0  17880.0  23160.0

          여성연령_30  여성연령_40  여성연령_50  여성연령_60  여성연령_70      외국인
자치구코드 월
강남구   1   88162.0  72402.0  53692.0  46891.0  45792.0  43858.0
      2   81077.0  67453.0  50293.0  44337.0  44046.0  39403.0
      3   87799.0  71748.0  52848.0  46384.0  45293.0  41448.0
      4   87569.0  71351.0  52124.0  45695.0  44090.0  41176.0
      5   84157.0  68556.0  49741.0  43450.0  41782.0  41945.0
...           ...      ...      ...      ...      ...      ...
중랑구   8   26148.0  26326.0  32015.0  25300.0  28980.0   6308.0
      9   26440.0  26619.0  32085.0  25487.0  29125.0   6258.0
      10  26090.0  26301.0  31675.0  25109.0  28459.0   6107.0
      11  26323.0  26805.0  32121.0  25637.0  28911.0   6131.0
      12  26444.0  26925.0  32275.0  25810.0  28960.0   6302.0

[300 rows x 13 columns]

In [2]:
rate

       흡연율
성연령별
남성20  37.8
남성30  39.2
남성40  37.9
남성50  36.7
남성60  30.1
남성70  17.0
여성20  10.2
여성30   7.2
여성40   6.5
여성50   4.2
여성60   4.4
여성70   2.5
외국인   20.2

In [3]:
smoker = 0

for column, smoke_rate in zip(people, rate['흡연율']):
    smoker += people[column].apply(lambda x: x * smoke_rate / 100)

smoker

자치구코드  월
강남구    1     164728.624
       2     151468.844
       3     160080.319
       4     157915.932
       5     151894.038
                ...
중랑구    8      56752.289
       9      56772.373
       10     55979.656
       11     56257.993
       12     57019.279
Name: 남성연령_20, Length: 300, dtype: float64

In [4]:
people['총예상흡연자수'] = smoker
people

          남성연령_20  남성연령_30  남성연령_40  남성연령_50  남성연령_60  남성연령_70  여성연령_20  \
자치구코드 월
강남구   1   64321.0  92011.0  86743.0  56486.0  37015.0  30962.0  87841.0
      2   58003.0  83900.0  80016.0  52660.0  35057.0  29744.0  78905.0
      3   57495.0  91031.0  86799.0  55820.0  36481.0  30379.0  82202.0
      4   55916.0  90196.0  86086.0  55002.0  35601.0  29537.0  81480.0
      5   54722.0  86368.0  81992.0  52295.0  33817.0  27840.0  79805.0
...           ...      ...      ...      ...      ...      ...      ...
중랑구   8   21800.0  24509.0  25117.0  26612.0  20448.0  17774.0  23447.0
      9   21026.0  24640.0  25505.0  26825.0  20525.0  17817.0  23063.0
      10  20839.0  24413.0  25172.0  26402.0  20012.0  17410.0  23052.0
      11  20776.0  24200.0  25193.0  26665.0  20335.0  17794.0  23160.0
      12  21070.0  24655.0  25549.0  27108.0  20645.0  17880.0  23160.0

          여성연령_30  여성연령_40  여성연령_50  여성연령_60  여성연령_70      외국인     총예상흡연자수
자치구코드 월
강남구   1   88162.0  72402.0  53692.0  46891.0  45792.0  43858.0  164728.624
      2   81077.0  67453.0  50293.0  44337.0  44046.0  39403.0  151468.844
      3   87799.0  71748.0  52848.0  46384.0  45293.0  41448.0  160080.319
      4   87569.0  71351.0  52124.0  45695.0  44090.0  41176.0  157915.932
      5   84157.0  68556.0  49741.0  43450.0  41782.0  41945.0  151894.038
...           ...      ...      ...      ...      ...      ...         ...
중랑구   8   26148.0  26326.0  32015.0  25300.0  28980.0   6308.0   56752.289
      9   26440.0  26619.0  32085.0  25487.0  29125.0   6258.0   56772.373
      10  26090.0  26301.0  31675.0  25109.0  28459.0   6107.0   55979.656
      11  26323.0  26805.0  32121.0  25637.0  28911.0   6131.0   56257.993
      12  26444.0  26925.0  32275.0  25810.0  28960.0   6302.0   57019.279

[300 rows x 14 columns]

In [5]:
people = people.round()
people = people.astype('int')
people

          남성연령_20  남성연령_30  남성연령_40  남성연령_50  남성연령_60  남성연령_70  여성연령_20  \
자치구코드 월
강남구   1     64321    92011    86743    56486    37015    30962    87841
      2     58003    83900    80016    52660    35057    29744    78905
      3     57495    91031    86799    55820    36481    30379    82202
      4     55916    90196    86086    55002    35601    29537    81480
      5     54722    86368    81992    52295    33817    27840    79805
...           ...      ...      ...      ...      ...      ...      ...
중랑구   8     21800    24509    25117    26612    20448    17774    23447
      9     21026    24640    25505    26825    20525    17817    23063
      10    20839    24413    25172    26402    20012    17410    23052
      11    20776    24200    25193    26665    20335    17794    23160
      12    21070    24655    25549    27108    20645    17880    23160

          여성연령_30  여성연령_40  여성연령_50  여성연령_60  여성연령_70    외국인  총예상흡연자수
자치구코드 월
강남구   1     88162    72402    53692    46891    45792  43858   164729
      2     81077    67453    50293    44337    44046  39403   151469
      3     87799    71748    52848    46384    45293  41448   160080
      4     87569    71351    52124    45695    44090  41176   157916
      5     84157    68556    49741    43450    41782  41945   151894
...           ...      ...      ...      ...      ...    ...      ...
중랑구   8     26148    26326    32015    25300    28980   6308    56752
      9     26440    26619    32085    25487    29125   6258    56772
      10    26090    26301    31675    25109    28459   6107    55980
      11    26323    26805    32121    25637    28911   6131    56258
      12    26444    26925    32275    25810    28960   6302    57019

[300 rows x 14 columns]