In [2]:
import pandas as pd

people = pd.read_csv('2019생활인구.csv')
people

,기준일ID,시간대구분,자치구코드,남자15세부터19세생활인구수,남자20세부터24세생활인구수,남자25세부터29세생활인구수,남자30세부터34세생활인구수,남자35세부터39세생활인구수,남자40세부터44세생활인구수,남자45세부터49세생활인구수,...,여자55세부터59세생활인구수,여자60세부터64세생활인구수,여자65세부터69세생활인구수,여자70세이상생활인구수,중국인체류인구수,중국외외국인체류인구수,중국인체류인구수.1,중국외외국인체류인구수.1,요일,월
0,2019-01-01,0,11110,6134.7190,12757.6730,13424.9912,9679.4043,9262.2696,8848.0894,10681.7986,...,8671.2045,8079.0106,6242.6970,17962.9680,11035.0773,6746.8132,8987.5825,9716.9030,Tuesday,1
1,2019-01-01,0,11140,3251.4707,7456.5552,8482.9745,8253.8513,8825.0475,7428.9318,8197.1737,...,6293.4810,5906.2118,4298.7062,12303.3213,10923.9122,7078.7062,29424.3341,35445.8501,Tuesday,1
2,2019-01-01,0,11170,5865.4531,11656.1407,15548.7770,14457.9881,14558.2617,11628.1637,11981.9712,...,9568.1641,8703.7465,6648.3724,20296.2431,5907.9073,21398.4597,4178.1144,10545.8802,Tuesday,1
3,2019-01-01,0,11200,6766.7787,11593.4668,13941.8426,13447.0673,15633.1375,13118.8203,13823.0800,...,13219.4730,12022.8741,9093.4057,24370.0786,10136.1296,7088.9600,639.9332,1524.8298,Tuesday,1
4,2019-01-01,0,11215,12056.0837,17503.8179,18611.2942,16219.1953,16342.7514,14264.8802,15836.1358,...,15708.3156,14021.6731,9907.6266,24975.8391,20028.8521,5978.9571,1409.8304,1598.7258,Tuesday,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
211195,2019-12-31,23,11620,10001.0660,20423.9464,34108.8311,27984.1499,24230.3331,19785.6514,20588.4961,...,18377.4578,16540.6608,13771.6139,32595.2666,18935.6050,4698.8936,1074.1549,1041.8597,Tuesday,12
211196,2019-12-31,23,11650,15440.6841,15643.9679,18565.4597,17723.9030,21873.1745,21405.3995,24728.4046,...,17660.0288,16583.0255,12881.3183,30976.3635,4467.6237,7815.0499,2227.6605,5512.0892,Tuesday,12
211197,2019-12-31,23,11680,22627.7125,21085.1486,29039.6792,28890.8864,32848.9924,31029.3772,33805.0564,...,22145.4239,21115.0631,16258.7322,39325.7057,9083.4988,14138.9230,10486.5165,18569.0526,Tuesday,12
211198,2019-12-31,23,11710,21907.8004,21864.3757,29286.5636,29977.2304,35285.9001,31151.5118,31610.8652,...,31098.6350,27865.7032,20081.3478,44078.4656,10507.4467,10956.3839,3885.5880,8568.6387,Tuesday,12
211199,2019-12-31,23,11740,14363.6445,13441.0008,16460.9813,17401.2642,21693.0864,21098.7997,21905.0706,...,23881.2715,21770.4235,16505.9461,35222.8552,7564.1576,2176.3825,368.9743,918.0227,Tuesday,12

In [3]:
gu = pd.read_csv('C:/Users/sun/Desktop/평일/자치구코드.csv', index_col=0)
gu

       자치구 명
자치구 코드
11000   인근지역
11110    종로구
11140     중구
11170    용산구
11200    성동구
11215    광진구
11230   동대문구
11260    중랑구
11290    성북구
11305    강북구
11320    도봉구
11350    노원구
11380    은평구
11410   서대문구
11440    마포구
11470    양천구
11500    강서구
11530    구로구
11545    금천구
11560   영등포구
11590    동작구
11620    관악구
11650    서초구
11680    강남구
11710    송파구
11740    강동구

In [4]:
dict_gu = gu.to_dict()
dict_gu

{'자치구 명': {11000: '인근지역',
  11110: '종로구',
  11140: '중구',
  11170: '용산구',
  11200: '성동구',
  11215: '광진구',
  11230: '동대문구',
  11260: '중랑구',
  11290: '성북구',
  11305: '강북구',
  11320: '도봉구',
  11350: '노원구',
  11380: '은평구',
  11410: '서대문구',
  11440: '마포구',
  11470: '양천구',
  11500: '강서구',
  11530: '구로구',
  11545: '금천구',
  11560: '영등포구',
  11590: '동작구',
  11620: '관악구',
  11650: '서초구',
  11680: '강남구',
  11710: '송파구',
  11740: '강동구'}}

In [5]:
people = people.replace({'자치구코드': dict_gu['자치구 명']})
people

,기준일ID,시간대구분,자치구코드,남자15세부터19세생활인구수,남자20세부터24세생활인구수,남자25세부터29세생활인구수,남자30세부터34세생활인구수,남자35세부터39세생활인구수,남자40세부터44세생활인구수,남자45세부터49세생활인구수,...,여자55세부터59세생활인구수,여자60세부터64세생활인구수,여자65세부터69세생활인구수,여자70세이상생활인구수,중국인체류인구수,중국외외국인체류인구수,중국인체류인구수.1,중국외외국인체류인구수.1,요일,월
0,2019-01-01,0,종로구,6134.7190,12757.6730,13424.9912,9679.4043,9262.2696,8848.0894,10681.7986,...,8671.2045,8079.0106,6242.6970,17962.9680,11035.0773,6746.8132,8987.5825,9716.9030,Tuesday,1
1,2019-01-01,0,중구,3251.4707,7456.5552,8482.9745,8253.8513,8825.0475,7428.9318,8197.1737,...,6293.4810,5906.2118,4298.7062,12303.3213,10923.9122,7078.7062,29424.3341,35445.8501,Tuesday,1
2,2019-01-01,0,용산구,5865.4531,11656.1407,15548.7770,14457.9881,14558.2617,11628.1637,11981.9712,...,9568.1641,8703.7465,6648.3724,20296.2431,5907.9073,21398.4597,4178.1144,10545.8802,Tuesday,1
3,2019-01-01,0,성동구,6766.7787,11593.4668,13941.8426,13447.0673,15633.1375,13118.8203,13823.0800,...,13219.4730,12022.8741,9093.4057,24370.0786,10136.1296,7088.9600,639.9332,1524.8298,Tuesday,1
4,2019-01-01,0,광진구,12056.0837,17503.8179,18611.2942,16219.1953,16342.7514,14264.8802,15836.1358,...,15708.3156,14021.6731,9907.6266,24975.8391,20028.8521,5978.9571,1409.8304,1598.7258,Tuesday,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
211195,2019-12-31,23,관악구,10001.0660,20423.9464,34108.8311,27984.1499,24230.3331,19785.6514,20588.4961,...,18377.4578,16540.6608,13771.6139,32595.2666,18935.6050,4698.8936,1074.1549,1041.8597,Tuesday,12
211196,2019-12-31,23,서초구,15440.6841,15643.9679,18565.4597,17723.9030,21873.1745,21405.3995,24728.4046,...,17660.0288,16583.0255,12881.3183,30976.3635,4467.6237,7815.0499,2227.6605,5512.0892,Tuesday,12
211197,2019-12-31,23,강남구,22627.7125,21085.1486,29039.6792,28890.8864,32848.9924,31029.3772,33805.0564,...,22145.4239,21115.0631,16258.7322,39325.7057,9083.4988,14138.9230,10486.5165,18569.0526,Tuesday,12
211198,2019-12-31,23,송파구,21907.8004,21864.3757,29286.5636,29977.2304,35285.9001,31151.5118,31610.8652,...,31098.6350,27865.7032,20081.3478,44078.4656,10507.4467,10956.3839,3885.5880,8568.6387,Tuesday,12
211199,2019-12-31,23,강동구,14363.6445,13441.0008,16460.9813,17401.2642,21693.0864,21098.7997,21905.0706,...,23881.2715,21770.4235,16505.9461,35222.8552,7564.1576,2176.3825,368.9743,918.0227,Tuesday,12

In [6]:
people1 = people[people['요일']!='Sunday']
people1

,기준일ID,시간대구분,자치구코드,남자15세부터19세생활인구수,남자20세부터24세생활인구수,남자25세부터29세생활인구수,남자30세부터34세생활인구수,남자35세부터39세생활인구수,남자40세부터44세생활인구수,남자45세부터49세생활인구수,...,여자55세부터59세생활인구수,여자60세부터64세생활인구수,여자65세부터69세생활인구수,여자70세이상생활인구수,중국인체류인구수,중국외외국인체류인구수,중국인체류인구수.1,중국외외국인체류인구수.1,요일,월
0,2019-01-01,0,종로구,6134.7190,12757.6730,13424.9912,9679.4043,9262.2696,8848.0894,10681.7986,...,8671.2045,8079.0106,6242.6970,17962.9680,11035.0773,6746.8132,8987.5825,9716.9030,Tuesday,1
1,2019-01-01,0,중구,3251.4707,7456.5552,8482.9745,8253.8513,8825.0475,7428.9318,8197.1737,...,6293.4810,5906.2118,4298.7062,12303.3213,10923.9122,7078.7062,29424.3341,35445.8501,Tuesday,1
2,2019-01-01,0,용산구,5865.4531,11656.1407,15548.7770,14457.9881,14558.2617,11628.1637,11981.9712,...,9568.1641,8703.7465,6648.3724,20296.2431,5907.9073,21398.4597,4178.1144,10545.8802,Tuesday,1
3,2019-01-01,0,성동구,6766.7787,11593.4668,13941.8426,13447.0673,15633.1375,13118.8203,13823.0800,...,13219.4730,12022.8741,9093.4057,24370.0786,10136.1296,7088.9600,639.9332,1524.8298,Tuesday,1
4,2019-01-01,0,광진구,12056.0837,17503.8179,18611.2942,16219.1953,16342.7514,14264.8802,15836.1358,...,15708.3156,14021.6731,9907.6266,24975.8391,20028.8521,5978.9571,1409.8304,1598.7258,Tuesday,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
211195,2019-12-31,23,관악구,10001.0660,20423.9464,34108.8311,27984.1499,24230.3331,19785.6514,20588.4961,...,18377.4578,16540.6608,13771.6139,32595.2666,18935.6050,4698.8936,1074.1549,1041.8597,Tuesday,12
211196,2019-12-31,23,서초구,15440.6841,15643.9679,18565.4597,17723.9030,21873.1745,21405.3995,24728.4046,...,17660.0288,16583.0255,12881.3183,30976.3635,4467.6237,7815.0499,2227.6605,5512.0892,Tuesday,12
211197,2019-12-31,23,강남구,22627.7125,21085.1486,29039.6792,28890.8864,32848.9924,31029.3772,33805.0564,...,22145.4239,21115.0631,16258.7322,39325.7057,9083.4988,14138.9230,10486.5165,18569.0526,Tuesday,12
211198,2019-12-31,23,송파구,21907.8004,21864.3757,29286.5636,29977.2304,35285.9001,31151.5118,31610.8652,...,31098.6350,27865.7032,20081.3478,44078.4656,10507.4467,10956.3839,3885.5880,8568.6387,Tuesday,12
211199,2019-12-31,23,강동구,14363.6445,13441.0008,16460.9813,17401.2642,21693.0864,21098.7997,21905.0706,...,23881.2715,21770.4235,16505.9461,35222.8552,7564.1576,2176.3825,368.9743,918.0227,Tuesday,12

In [7]:
people2 = people1[people1['요일']!='Saturday']
people2

,기준일ID,시간대구분,자치구코드,남자15세부터19세생활인구수,남자20세부터24세생활인구수,남자25세부터29세생활인구수,남자30세부터34세생활인구수,남자35세부터39세생활인구수,남자40세부터44세생활인구수,남자45세부터49세생활인구수,...,여자55세부터59세생활인구수,여자60세부터64세생활인구수,여자65세부터69세생활인구수,여자70세이상생활인구수,중국인체류인구수,중국외외국인체류인구수,중국인체류인구수.1,중국외외국인체류인구수.1,요일,월
0,2019-01-01,0,종로구,6134.7190,12757.6730,13424.9912,9679.4043,9262.2696,8848.0894,10681.7986,...,8671.2045,8079.0106,6242.6970,17962.9680,11035.0773,6746.8132,8987.5825,9716.9030,Tuesday,1
1,2019-01-01,0,중구,3251.4707,7456.5552,8482.9745,8253.8513,8825.0475,7428.9318,8197.1737,...,6293.4810,5906.2118,4298.7062,12303.3213,10923.9122,7078.7062,29424.3341,35445.8501,Tuesday,1
2,2019-01-01,0,용산구,5865.4531,11656.1407,15548.7770,14457.9881,14558.2617,11628.1637,11981.9712,...,9568.1641,8703.7465,6648.3724,20296.2431,5907.9073,21398.4597,4178.1144,10545.8802,Tuesday,1
3,2019-01-01,0,성동구,6766.7787,11593.4668,13941.8426,13447.0673,15633.1375,13118.8203,13823.0800,...,13219.4730,12022.8741,9093.4057,24370.0786,10136.1296,7088.9600,639.9332,1524.8298,Tuesday,1
4,2019-01-01,0,광진구,12056.0837,17503.8179,18611.2942,16219.1953,16342.7514,14264.8802,15836.1358,...,15708.3156,14021.6731,9907.6266,24975.8391,20028.8521,5978.9571,1409.8304,1598.7258,Tuesday,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
211195,2019-12-31,23,관악구,10001.0660,20423.9464,34108.8311,27984.1499,24230.3331,19785.6514,20588.4961,...,18377.4578,16540.6608,13771.6139,32595.2666,18935.6050,4698.8936,1074.1549,1041.8597,Tuesday,12
211196,2019-12-31,23,서초구,15440.6841,15643.9679,18565.4597,17723.9030,21873.1745,21405.3995,24728.4046,...,17660.0288,16583.0255,12881.3183,30976.3635,4467.6237,7815.0499,2227.6605,5512.0892,Tuesday,12
211197,2019-12-31,23,강남구,22627.7125,21085.1486,29039.6792,28890.8864,32848.9924,31029.3772,33805.0564,...,22145.4239,21115.0631,16258.7322,39325.7057,9083.4988,14138.9230,10486.5165,18569.0526,Tuesday,12
211198,2019-12-31,23,송파구,21907.8004,21864.3757,29286.5636,29977.2304,35285.9001,31151.5118,31610.8652,...,31098.6350,27865.7032,20081.3478,44078.4656,10507.4467,10956.3839,3885.5880,8568.6387,Tuesday,12
211199,2019-12-31,23,강동구,14363.6445,13441.0008,16460.9813,17401.2642,21693.0864,21098.7997,21905.0706,...,23881.2715,21770.4235,16505.9461,35222.8552,7564.1576,2176.3825,368.9743,918.0227,Tuesday,12

In [8]:
people2['요일'].value_counts()

Tuesday      30600
Monday       30600
Wednesday    30000
Thursday     30000
Friday       30000
Name: 요일, dtype: int64

In [9]:
columns = people2.columns
people2 = people2.groupby(['자치구코드', '월'])[columns].mean()
people2

          시간대구분  남자15세부터19세생활인구수  남자20세부터24세생활인구수  남자25세부터29세생활인구수  \
자치구코드 월
강남구   1    11.5     23317.480312     25193.398890     39127.728151
      2    11.5     21469.405283     22382.091212     35621.154611
      3    11.5     21714.933149     19980.771824     37513.929990
      4    11.5     21507.324785     18705.066906     37210.905482
      5    11.5     21095.614640     18807.475929     35914.696620
...         ...              ...              ...              ...
중랑구   8    11.5      7958.685794     10097.198137     11702.860177
      9    11.5      7598.104061      9482.109713     11543.817966
      10   11.5      7673.865511      9323.615250     11514.981382
      11   11.5      7713.318039      9322.021234     11453.782865
      12   11.5      7819.362585      9412.328833     11657.802441

          남자30세부터34세생활인구수  남자35세부터39세생활인구수  남자40세부터44세생활인구수  남자45세부터49세생활인구수  \
자치구코드 월
강남구   1      42207.497544     49803.853490     43621.548627     43121.106137
      2      38718.270372     45181.473019     40095.492825     39920.910083
      3      41978.281639     49052.380573     43946.866622     42852.379110
      4      41456.789024     48739.203700     43714.603515     42371.551812
      5      40061.065491     46306.545221     41472.181766     40520.252562
...                   ...              ...              ...              ...
중랑구   8      10889.349057     13619.168982     11926.546985     13190.376009
      9      11032.831379     13606.841156     12193.533976     13311.134794
      10     10999.352054     13413.460896     12096.538307     13075.299503
      11     10888.672648     13310.937354     12042.024561     13150.992550
      12     10994.573645     13660.909938     12228.434353     13320.204325

          남자50세부터54세생활인구수  남자55세부터59세생활인구수  ...  여자50세부터54세생활인구수  \
자치구코드 월                                     ...
강남구   1      30557.758751     25928.443207  ...     26277.737919
      2      28272.598163     24387.668054  ...     24446.559606
      3      30065.950950     25754.547955  ...     25760.502362
      4      29704.601558     25297.771758  ...     25523.362192
      5      28253.927076     24040.839624  ...     24429.934586
...                   ...              ...  ...              ...
중랑구   8      12687.100705     13924.708845  ...     14647.805730
      9      12769.359871     14055.983423  ...     14749.945365
      10     12622.110296     13780.001442  ...     14511.771330
      11     12823.578339     13841.611428  ...     14735.919114
      12     13072.539033     14035.532227  ...     14901.508337

          여자55세부터59세생활인구수  여자60세부터64세생활인구수  여자65세부터69세생활인구수  여자70세이상생활인구수  \
자치구코드 월
강남구   1      27414.381339     26407.772961     20482.942841  45792.240105
      2      25846.515888     24930.353463     19406.735128  44046.443058
      3      27087.517543     26134.414265     20250.018757  45292.932332
      4      26600.468609     25805.659241     19889.450916  44089.920553
      5      25311.474424     24590.790875     18859.059581  41782.336809
...                   ...              ...              ...           ...
중랑구   8      17366.959386     14404.511013     10895.797517  28979.959936
      9      17334.988653     14539.487393     10947.334662  29125.432208
      10     17162.927805     14370.278721     10738.339372  28459.311496
      11     17384.589477     14628.902953     11007.668857  28911.014927
      12     17373.562824     14764.822434     11045.423835  28960.041885

              중국인체류인구수   중국외외국인체류인구수   중국인체류인구수.1  중국외외국인체류인구수.1     월
자치구코드 월
강남구   1   11975.196695  12285.328328  7449.956494   12147.502580   1.0
      2   11313.381692  12138.723798  5733.310953   10217.920259   2.0
      3   11612.340411  12224.221219  4815.775600   12795.761726   3.0
      4   11450.312485  12332.184511  4817.837870   12575.763553   4.0
      5   11301.683950  11446.240547  6348.967768   12848.304522   5.0
...                ...           ...          ...            ...   ...
중랑구   8    3664.783652   2133.393132   151.444496     358.021798   8.0
      9    3375.202259   2247.913524   153.461507     480.974879   9.0
      10   3354.703043   2157.982920   169.014432     424.973361  10.0
      11   3320.143646   2189.385784   164.286596     457.444941  11.0
      12   3476.186484   2306.768425   120.611388     398.686288  12.0

[300 rows x 30 columns]

In [10]:
people3 = people2.copy()

In [11]:
people3['남성연령_20'] = people2['남자20세부터24세생활인구수'] + people2['남자25세부터29세생활인구수']
people3['남성연령_30'] = people2['남자30세부터34세생활인구수'] + people2['남자35세부터39세생활인구수']
people3['남성연령_40'] = people2['남자40세부터44세생활인구수'] + people2['남자45세부터49세생활인구수']
people3['남성연령_50'] = people2['남자50세부터54세생활인구수'] + people2['남자55세부터59세생활인구수']
people3['남성연령_60'] = people2['남자60세부터64세생활인구수'] + people2['남자65세부터69세생활인구수']
people3['남성연령_70'] = people2['남자70세이상생활인구수']
people3['여성연령_20'] = people2['여자20세부터24세생활인구수'] + people2['여자25세부터29세생활인구수']
people3['여성연령_30'] = people2['여자30세부터34세생활인구수'] + people2['여자35세부터39세생활인구수']
people3['여성연령_40'] = people2['여자40세부터44세생활인구수'] + people2['여자45세부터49세생활인구수']
people3['여성연령_50'] = people2['여자50세부터54세생활인구수'] + people2['여자55세부터59세생활인구수']
people3['여성연령_60'] = people2['여자60세부터64세생활인구수'] + people2['여자65세부터69세생활인구수']
people3['여성연령_70'] = people2['여자70세이상생활인구수']
people3

          시간대구분  남자15세부터19세생활인구수  남자20세부터24세생활인구수  남자25세부터29세생활인구수  \
자치구코드 월
강남구   1    11.5     23317.480312     25193.398890     39127.728151
      2    11.5     21469.405283     22382.091212     35621.154611
      3    11.5     21714.933149     19980.771824     37513.929990
      4    11.5     21507.324785     18705.066906     37210.905482
      5    11.5     21095.614640     18807.475929     35914.696620
...         ...              ...              ...              ...
중랑구   8    11.5      7958.685794     10097.198137     11702.860177
      9    11.5      7598.104061      9482.109713     11543.817966
      10   11.5      7673.865511      9323.615250     11514.981382
      11   11.5      7713.318039      9322.021234     11453.782865
      12   11.5      7819.362585      9412.328833     11657.802441

          남자30세부터34세생활인구수  남자35세부터39세생활인구수  남자40세부터44세생활인구수  남자45세부터49세생활인구수  \
자치구코드 월
강남구   1      42207.497544     49803.853490     43621.548627     43121.106137
      2      38718.270372     45181.473019     40095.492825     39920.910083
      3      41978.281639     49052.380573     43946.866622     42852.379110
      4      41456.789024     48739.203700     43714.603515     42371.551812
      5      40061.065491     46306.545221     41472.181766     40520.252562
...                   ...              ...              ...              ...
중랑구   8      10889.349057     13619.168982     11926.546985     13190.376009
      9      11032.831379     13606.841156     12193.533976     13311.134794
      10     10999.352054     13413.460896     12096.538307     13075.299503
      11     10888.672648     13310.937354     12042.024561     13150.992550
      12     10994.573645     13660.909938     12228.434353     13320.204325

          남자50세부터54세생활인구수  남자55세부터59세생활인구수  ...       남성연령_40       남성연령_50  \
자치구코드 월                                     ...
강남구   1      30557.758751     25928.443207  ...  86742.654764  56486.201957
      2      28272.598163     24387.668054  ...  80016.402908  52660.266217
      3      30065.950950     25754.547955  ...  86799.245732  55820.498905
      4      29704.601558     25297.771758  ...  86086.155327  55002.373316
      5      28253.927076     24040.839624  ...  81992.434328  52294.766700
...                   ...              ...  ...           ...           ...
중랑구   8      12687.100705     13924.708845  ...  25116.922994  26611.809549
      9      12769.359871     14055.983423  ...  25504.668769  26825.343294
      10     12622.110296     13780.001442  ...  25171.837810  26402.111737
      11     12823.578339     13841.611428  ...  25193.017110  26665.189767
      12     13072.539033     14035.532227  ...  25548.638678  27108.071260

               남성연령_60       남성연령_70       여성연령_20       여성연령_30  \
자치구코드 월
강남구   1   37015.047465  30962.270940  87840.692188  88162.112527
      2   35056.664642  29744.181381  78904.797529  81077.212549
      3   36481.020397  30379.116387  82201.876493  87799.109137
      4   35601.242789  29537.053196  81480.343761  87569.150971
      5   33816.706756  27839.681829  79805.371997  84157.341009
...                ...           ...           ...           ...
중랑구   8   20447.606838  17774.212974  23447.374052  26148.482649
      9   20525.399162  17817.159978  23062.810468  26439.792766
      10  20012.260714  17410.350592  23051.575799  26090.093357
      11  20334.901874  17794.414682  23160.210921  26322.968338
      12  20644.671826  17879.917827  23160.484077  26444.017299

               여성연령_40       여성연령_50       여성연령_60       여성연령_70
자치구코드 월
강남구   1   72402.064477  53692.119259  46890.715803  45792.240105
      2   67453.435113  50293.075494  44337.088591  44046.443058
      3   71748.281778  52848.019905  46384.433022  45292.932332
      4   71350.520679  52123.830801  45695.110156  44089.920553
      5   68556.025518  49741.409009  43449.850456  41782.336809
...                ...           ...           ...           ...
중랑구   8   26325.892364  32014.765116  25300.308530  28979.959936
      9   26618.523168  32084.934017  25486.822055  29125.432208
      10  26300.864628  31674.699135  25108.618093  28459.311496
      11  26804.990957  32120.508591  25636.571809  28911.014927
      12  26925.182616  32275.071162  25810.246270  28960.041885

[300 rows x 42 columns]

In [12]:
people3.drop(columns=['남자20세부터24세생활인구수', '남자25세부터29세생활인구수', '남자30세부터34세생활인구수', '남자35세부터39세생활인구수',
            '남자40세부터44세생활인구수', '남자45세부터49세생활인구수', '남자50세부터54세생활인구수', '남자55세부터59세생활인구수',
            '남자60세부터64세생활인구수', '남자65세부터69세생활인구수', '남자70세이상생활인구수'], axis=1, inplace=True)
people3

          시간대구분  남자15세부터19세생활인구수  여자15세부터19세생활인구수  여자20세부터24세생활인구수  \
자치구코드 월
강남구   1    11.5     23317.480312     23412.207014     36151.327747
      2    11.5     21469.405283     20735.046135     32292.035440
      3    11.5     21714.933149     20290.499779     31757.026472
      4    11.5     21507.324785     20027.960708     31280.669842
      5    11.5     21095.614640     19865.426674     31295.332780
...         ...              ...              ...              ...
중랑구   8    11.5      7958.685794      7995.970712     11112.249179
      9    11.5      7598.104061      7827.092451     10718.737005
      10   11.5      7673.865511      7774.364852     10739.513665
      11   11.5      7713.318039      7995.430492     10840.996625
      12   11.5      7819.362585      7731.460084     10768.913781

          여자25세부터29세생활인구수  여자30세부터34세생활인구수  여자35세부터39세생활인구수  여자40세부터44세생활인구수  \
자치구코드 월
강남구   1      51689.364440     44662.919972     43499.192554     36016.043709
      2      46612.762089     40966.312713     40110.899835     33668.615150
      3      50444.850020     44487.273609     43311.835528     36236.878161
      4      50199.673919     44385.885549     43183.265422     36106.653527
      5      48510.039217     42817.327189     41340.013820     34607.261059
...                   ...              ...              ...              ...
중랑구   8      12335.124873     12259.254561     13889.228088     11854.295678
      9      12344.073463     12273.623741     14166.169025     12165.293752
      10     12312.062134     12144.352194     13945.741163     11939.420540
      11     12319.214295     12199.143243     14123.825095     12238.333934
      12     12391.570295     12292.682608     14151.334691     12258.852296

          여자45세부터49세생활인구수  여자50세부터54세생활인구수  ...       남성연령_40       남성연령_50  \
자치구코드 월                                     ...
강남구   1      36386.020769     26277.737919  ...  86742.654764  56486.201957
      2      33784.819963     24446.559606  ...  80016.402908  52660.266217
      3      35511.403617     25760.502362  ...  86799.245732  55820.498905
      4      35243.867152     25523.362192  ...  86086.155327  55002.373316
      5      33948.764459     24429.934586  ...  81992.434328  52294.766700
...                   ...              ...  ...           ...           ...
중랑구   8      14471.596686     14647.805730  ...  25116.922994  26611.809549
      9      14453.229416     14749.945365  ...  25504.668769  26825.343294
      10     14361.444088     14511.771330  ...  25171.837810  26402.111737
      11     14566.657024     14735.919114  ...  25193.017110  26665.189767
      12     14666.330320     14901.508337  ...  25548.638678  27108.071260

               남성연령_60       남성연령_70       여성연령_20       여성연령_30  \
자치구코드 월
강남구   1   37015.047465  30962.270940  87840.692188  88162.112527
      2   35056.664642  29744.181381  78904.797529  81077.212549
      3   36481.020397  30379.116387  82201.876493  87799.109137
      4   35601.242789  29537.053196  81480.343761  87569.150971
      5   33816.706756  27839.681829  79805.371997  84157.341009
...                ...           ...           ...           ...
중랑구   8   20447.606838  17774.212974  23447.374052  26148.482649
      9   20525.399162  17817.159978  23062.810468  26439.792766
      10  20012.260714  17410.350592  23051.575799  26090.093357
      11  20334.901874  17794.414682  23160.210921  26322.968338
      12  20644.671826  17879.917827  23160.484077  26444.017299

               여성연령_40       여성연령_50       여성연령_60       여성연령_70
자치구코드 월
강남구   1   72402.064477  53692.119259  46890.715803  45792.240105
      2   67453.435113  50293.075494  44337.088591  44046.443058
      3   71748.281778  52848.019905  46384.433022  45292.932332
      4   71350.520679  52123.830801  45695.110156  44089.920553
      5   68556.025518  49741.409009  43449.850456  41782.336809
...                ...           ...           ...           ...
중랑구   8   26325.892364  32014.765116  25300.308530  28979.959936
      9   26618.523168  32084.934017  25486.822055  29125.432208
      10  26300.864628  31674.699135  25108.618093  28459.311496
      11  26804.990957  32120.508591  25636.571809  28911.014927
      12  26925.182616  32275.071162  25810.246270  28960.041885

[300 rows x 31 columns]

In [13]:
people3.drop(columns=['여자20세부터24세생활인구수', '여자25세부터29세생활인구수', '여자30세부터34세생활인구수', '여자35세부터39세생활인구수',
            '여자40세부터44세생활인구수', '여자45세부터49세생활인구수', '여자50세부터54세생활인구수', '여자55세부터59세생활인구수',
            '여자60세부터64세생활인구수', '여자65세부터69세생활인구수', '여자70세이상생활인구수', '여자15세부터19세생활인구수',
                     '남자15세부터19세생활인구수'], axis=1, inplace=True)
people3

          시간대구분      중국인체류인구수   중국외외국인체류인구수   중국인체류인구수.1  중국외외국인체류인구수.1     월  \
자치구코드 월
강남구   1    11.5  11975.196695  12285.328328  7449.956494   12147.502580   1.0
      2    11.5  11313.381692  12138.723798  5733.310953   10217.920259   2.0
      3    11.5  11612.340411  12224.221219  4815.775600   12795.761726   3.0
      4    11.5  11450.312485  12332.184511  4817.837870   12575.763553   4.0
      5    11.5  11301.683950  11446.240547  6348.967768   12848.304522   5.0
...         ...           ...           ...          ...            ...   ...
중랑구   8    11.5   3664.783652   2133.393132   151.444496     358.021798   8.0
      9    11.5   3375.202259   2247.913524   153.461507     480.974879   9.0
      10   11.5   3354.703043   2157.982920   169.014432     424.973361  10.0
      11   11.5   3320.143646   2189.385784   164.286596     457.444941  11.0
      12   11.5   3476.186484   2306.768425   120.611388     398.686288  12.0

               남성연령_20       남성연령_30       남성연령_40       남성연령_50  \
자치구코드 월
강남구   1   64321.127041  92011.351034  86742.654764  56486.201957
      2   58003.245823  83899.743391  80016.402908  52660.266217
      3   57494.701813  91030.662212  86799.245732  55820.498905
      4   55915.972388  90195.992724  86086.155327  55002.373316
      5   54722.172549  86367.610713  81992.434328  52294.766700
...                ...           ...           ...           ...
중랑구   8   21800.058314  24508.518039  25116.922994  26611.809549
      9   21025.927678  24639.672535  25504.668769  26825.343294
      10  20838.596633  24412.812950  25171.837810  26402.111737
      11  20775.804099  24199.610002  25193.017110  26665.189767
      12  21070.131274  24655.483583  25548.638678  27108.071260

               남성연령_60       남성연령_70       여성연령_20       여성연령_30  \
자치구코드 월
강남구   1   37015.047465  30962.270940  87840.692188  88162.112527
      2   35056.664642  29744.181381  78904.797529  81077.212549
      3   36481.020397  30379.116387  82201.876493  87799.109137
      4   35601.242789  29537.053196  81480.343761  87569.150971
      5   33816.706756  27839.681829  79805.371997  84157.341009
...                ...           ...           ...           ...
중랑구   8   20447.606838  17774.212974  23447.374052  26148.482649
      9   20525.399162  17817.159978  23062.810468  26439.792766
      10  20012.260714  17410.350592  23051.575799  26090.093357
      11  20334.901874  17794.414682  23160.210921  26322.968338
      12  20644.671826  17879.917827  23160.484077  26444.017299

               여성연령_40       여성연령_50       여성연령_60       여성연령_70
자치구코드 월
강남구   1   72402.064477  53692.119259  46890.715803  45792.240105
      2   67453.435113  50293.075494  44337.088591  44046.443058
      3   71748.281778  52848.019905  46384.433022  45292.932332
      4   71350.520679  52123.830801  45695.110156  44089.920553
      5   68556.025518  49741.409009  43449.850456  41782.336809
...                ...           ...           ...           ...
중랑구   8   26325.892364  32014.765116  25300.308530  28979.959936
      9   26618.523168  32084.934017  25486.822055  29125.432208
      10  26300.864628  31674.699135  25108.618093  28459.311496
      11  26804.990957  32120.508591  25636.571809  28911.014927
      12  26925.182616  32275.071162  25810.246270  28960.041885

[300 rows x 18 columns]

In [14]:
people3['외국인'] = people3['중국인체류인구수'] + people3['중국외외국인체류인구수'] + people3['중국인체류인구수.1'] + people3['중국외외국인체류인구수.1']
people3.drop(columns=['중국인체류인구수', '중국외외국인체류인구수', '중국인체류인구수.1', '중국외외국인체류인구수.1'], axis=1, inplace=True)
people3

          시간대구분     월       남성연령_20       남성연령_30       남성연령_40       남성연령_50  \
자치구코드 월
강남구   1    11.5   1.0  64321.127041  92011.351034  86742.654764  56486.201957
      2    11.5   2.0  58003.245823  83899.743391  80016.402908  52660.266217
      3    11.5   3.0  57494.701813  91030.662212  86799.245732  55820.498905
      4    11.5   4.0  55915.972388  90195.992724  86086.155327  55002.373316
      5    11.5   5.0  54722.172549  86367.610713  81992.434328  52294.766700
...         ...   ...           ...           ...           ...           ...
중랑구   8    11.5   8.0  21800.058314  24508.518039  25116.922994  26611.809549
      9    11.5   9.0  21025.927678  24639.672535  25504.668769  26825.343294
      10   11.5  10.0  20838.596633  24412.812950  25171.837810  26402.111737
      11   11.5  11.0  20775.804099  24199.610002  25193.017110  26665.189767
      12   11.5  12.0  21070.131274  24655.483583  25548.638678  27108.071260

               남성연령_60       남성연령_70       여성연령_20       여성연령_30  \
자치구코드 월
강남구   1   37015.047465  30962.270940  87840.692188  88162.112527
      2   35056.664642  29744.181381  78904.797529  81077.212549
      3   36481.020397  30379.116387  82201.876493  87799.109137
      4   35601.242789  29537.053196  81480.343761  87569.150971
      5   33816.706756  27839.681829  79805.371997  84157.341009
...                ...           ...           ...           ...
중랑구   8   20447.606838  17774.212974  23447.374052  26148.482649
      9   20525.399162  17817.159978  23062.810468  26439.792766
      10  20012.260714  17410.350592  23051.575799  26090.093357
      11  20334.901874  17794.414682  23160.210921  26322.968338
      12  20644.671826  17879.917827  23160.484077  26444.017299

               여성연령_40       여성연령_50       여성연령_60       여성연령_70           외국인
자치구코드 월
강남구   1   72402.064477  53692.119259  46890.715803  45792.240105  43857.984098
      2   67453.435113  50293.075494  44337.088591  44046.443058  39403.336703
      3   71748.281778  52848.019905  46384.433022  45292.932332  41448.098956
      4   71350.520679  52123.830801  45695.110156  44089.920553  41176.098419
      5   68556.025518  49741.409009  43449.850456  41782.336809  41945.196787
...                ...           ...           ...           ...           ...
중랑구   8   26325.892364  32014.765116  25300.308530  28979.959936   6307.643078
      9   26618.523168  32084.934017  25486.822055  29125.432208   6257.552169
      10  26300.864628  31674.699135  25108.618093  28459.311496   6106.673756
      11  26804.990957  32120.508591  25636.571809  28911.014927   6131.260966
      12  26925.182616  32275.071162  25810.246270  28960.041885   6302.252586

[300 rows x 15 columns]

In [15]:
people3.drop(['시간대구분', '월'], axis=1, inplace=True)
people3 = people3.round()
people3

          남성연령_20  남성연령_30  남성연령_40  남성연령_50  남성연령_60  남성연령_70  여성연령_20  \
자치구코드 월
강남구   1   64321.0  92011.0  86743.0  56486.0  37015.0  30962.0  87841.0
      2   58003.0  83900.0  80016.0  52660.0  35057.0  29744.0  78905.0
      3   57495.0  91031.0  86799.0  55820.0  36481.0  30379.0  82202.0
      4   55916.0  90196.0  86086.0  55002.0  35601.0  29537.0  81480.0
      5   54722.0  86368.0  81992.0  52295.0  33817.0  27840.0  79805.0
...           ...      ...      ...      ...      ...      ...      ...
중랑구   8   21800.0  24509.0  25117.0  26612.0  20448.0  17774.0  23447.0
      9   21026.0  24640.0  25505.0  26825.0  20525.0  17817.0  23063.0
      10  20839.0  24413.0  25172.0  26402.0  20012.0  17410.0  23052.0
      11  20776.0  24200.0  25193.0  26665.0  20335.0  17794.0  23160.0
      12  21070.0  24655.0  25549.0  27108.0  20645.0  17880.0  23160.0

          여성연령_30  여성연령_40  여성연령_50  여성연령_60  여성연령_70      외국인
자치구코드 월
강남구   1   88162.0  72402.0  53692.0  46891.0  45792.0  43858.0
      2   81077.0  67453.0  50293.0  44337.0  44046.0  39403.0
      3   87799.0  71748.0  52848.0  46384.0  45293.0  41448.0
      4   87569.0  71351.0  52124.0  45695.0  44090.0  41176.0
      5   84157.0  68556.0  49741.0  43450.0  41782.0  41945.0
...           ...      ...      ...      ...      ...      ...
중랑구   8   26148.0  26326.0  32015.0  25300.0  28980.0   6308.0
      9   26440.0  26619.0  32085.0  25487.0  29125.0   6258.0
      10  26090.0  26301.0  31675.0  25109.0  28459.0   6107.0
      11  26323.0  26805.0  32121.0  25637.0  28911.0   6131.0
      12  26444.0  26925.0  32275.0  25810.0  28960.0   6302.0

[300 rows x 13 columns]

In [16]:
people3.to_csv('2019전처리.csv')