In [1]:
import pandas as pd

people = pd.read_csv('2020전처리.csv', index_col=[0,1])
rate = pd.read_csv('2020흡연율.csv', index_col=0)

people

            남성연령_20  남성연령_30  남성연령_40  남성연령_50  남성연령_60  남성연령_70  여성연령_20  \
자치구코드 월
강남구   1.0   59927.0  89351.0  86963.0  56402.0  34891.0  28316.0  85788.0
      2.0   61406.0  93850.0  91857.0  58761.0  35518.0  28363.0  88513.0
      3.0   57106.0  87217.0  88324.0  57082.0  34601.0  27431.0  81156.0
      4.0   56987.0  86281.0  87066.0  56279.0  33758.0  26944.0  80825.0
      5.0   57031.0  86015.0  86085.0  55832.0  33494.0  26682.0  81021.0
...             ...      ...      ...      ...      ...      ...      ...
중랑구   8.0   21599.0  24836.0  25629.0  26806.0  20031.0  17667.0  24387.0
      9.0   21828.0  25313.0  25961.0  26916.0  20078.0  17724.0  24878.0
      10.0  21503.0  24922.0  25785.0  26649.0  19863.0  17608.0  24147.0
      11.0  21225.0  24593.0  25236.0  26409.0  19898.0  17524.0  23869.0
      12.0  21657.0  25649.0  25888.0  26813.0  20307.0  18005.0  24833.0

            여성연령_30  여성연령_40  여성연령_50  여성연령_60  여성연령_70      외국인
자치구코드 월
강남구   1.0   88581.0  74374.0  52189.0  43429.0  41952.0  40941.0
      2.0   92511.0  77102.0  53360.0  43990.0  42682.0  38894.0
      3.0   85747.0  74291.0  51754.0  42375.0  41187.0  32325.0
      4.0   85702.0  73831.0  51293.0  41691.0  40543.0  31180.0
      5.0   86258.0  73943.0  51312.0  41512.0  40226.0  30539.0
...             ...      ...      ...      ...      ...      ...
중랑구   8.0   26633.0  26587.0  31734.0  25215.0  28095.0   6831.0
      9.0   27385.0  27143.0  32075.0  25497.0  28077.0   6885.0
      10.0  26916.0  26862.0  31646.0  25183.0  27711.0   6927.0
      11.0  26726.0  26625.0  31758.0  25133.0  27826.0   6957.0
      12.0  27584.0  26947.0  32165.0  25636.0  28241.0   6911.0

[300 rows x 13 columns]

In [2]:
rate

       흡연율
성연령별
남성20  32.0
남성30  35.8
남성40  41.5
남성50  36.5
남성60  27.3
남성70  15.0
여성20  10.9
여성30   8.8
여성40   5.7
여성50   2.0
여성60   4.3
여성70   1.7
외국인   19.2

In [5]:
smoker = 0

for column, smoke_rate in zip(people, rate['흡연율']):
    smoker += people[column].apply(lambda x: x * smoke_rate / 100)

smoker

자치구코드  월
강남구    1.0     154483.737
       2.0     160103.215
       3.0     150937.830
       4.0     149110.629
       5.0     148288.737
                  ...
중랑구    8.0      54367.144
       9.0      54990.896
       10.0     54343.120
       11.0     53765.172
       12.0     55110.233
Name: 남성연령_20, Length: 300, dtype: float64

In [6]:
people['총예상흡연자수'] = smoker
people

            남성연령_20  남성연령_30  남성연령_40  남성연령_50  남성연령_60  남성연령_70  여성연령_20  \
자치구코드 월
강남구   1.0   59927.0  89351.0  86963.0  56402.0  34891.0  28316.0  85788.0
      2.0   61406.0  93850.0  91857.0  58761.0  35518.0  28363.0  88513.0
      3.0   57106.0  87217.0  88324.0  57082.0  34601.0  27431.0  81156.0
      4.0   56987.0  86281.0  87066.0  56279.0  33758.0  26944.0  80825.0
      5.0   57031.0  86015.0  86085.0  55832.0  33494.0  26682.0  81021.0
...             ...      ...      ...      ...      ...      ...      ...
중랑구   8.0   21599.0  24836.0  25629.0  26806.0  20031.0  17667.0  24387.0
      9.0   21828.0  25313.0  25961.0  26916.0  20078.0  17724.0  24878.0
      10.0  21503.0  24922.0  25785.0  26649.0  19863.0  17608.0  24147.0
      11.0  21225.0  24593.0  25236.0  26409.0  19898.0  17524.0  23869.0
      12.0  21657.0  25649.0  25888.0  26813.0  20307.0  18005.0  24833.0

            여성연령_30  여성연령_40  여성연령_50  여성연령_60  여성연령_70      외국인     총예상흡연자수
자치구코드 월
강남구   1.0   88581.0  74374.0  52189.0  43429.0  41952.0  40941.0  154483.737
      2.0   92511.0  77102.0  53360.0  43990.0  42682.0  38894.0  160103.215
      3.0   85747.0  74291.0  51754.0  42375.0  41187.0  32325.0  150937.830
      4.0   85702.0  73831.0  51293.0  41691.0  40543.0  31180.0  149110.629
      5.0   86258.0  73943.0  51312.0  41512.0  40226.0  30539.0  148288.737
...             ...      ...      ...      ...      ...      ...         ...
중랑구   8.0   26633.0  26587.0  31734.0  25215.0  28095.0   6831.0   54367.144
      9.0   27385.0  27143.0  32075.0  25497.0  28077.0   6885.0   54990.896
      10.0  26916.0  26862.0  31646.0  25183.0  27711.0   6927.0   54343.120
      11.0  26726.0  26625.0  31758.0  25133.0  27826.0   6957.0   53765.172
      12.0  27584.0  26947.0  32165.0  25636.0  28241.0   6911.0   55110.233

[300 rows x 14 columns]

In [7]:
people = people.round()
people = people.astype('int')
people

            남성연령_20  남성연령_30  남성연령_40  남성연령_50  남성연령_60  남성연령_70  여성연령_20  \
자치구코드 월
강남구   1.0     59927    89351    86963    56402    34891    28316    85788
      2.0     61406    93850    91857    58761    35518    28363    88513
      3.0     57106    87217    88324    57082    34601    27431    81156
      4.0     56987    86281    87066    56279    33758    26944    80825
      5.0     57031    86015    86085    55832    33494    26682    81021
...             ...      ...      ...      ...      ...      ...      ...
중랑구   8.0     21599    24836    25629    26806    20031    17667    24387
      9.0     21828    25313    25961    26916    20078    17724    24878
      10.0    21503    24922    25785    26649    19863    17608    24147
      11.0    21225    24593    25236    26409    19898    17524    23869
      12.0    21657    25649    25888    26813    20307    18005    24833

            여성연령_30  여성연령_40  여성연령_50  여성연령_60  여성연령_70    외국인  총예상흡연자수
자치구코드 월
강남구   1.0     88581    74374    52189    43429    41952  40941   154484
      2.0     92511    77102    53360    43990    42682  38894   160103
      3.0     85747    74291    51754    42375    41187  32325   150938
      4.0     85702    73831    51293    41691    40543  31180   149111
      5.0     86258    73943    51312    41512    40226  30539   148289
...             ...      ...      ...      ...      ...    ...      ...
중랑구   8.0     26633    26587    31734    25215    28095   6831    54367
      9.0     27385    27143    32075    25497    28077   6885    54991
      10.0    26916    26862    31646    25183    27711   6927    54343
      11.0    26726    26625    31758    25133    27826   6957    53765
      12.0    27584    26947    32165    25636    28241   6911    55110

[300 rows x 14 columns]