In [12]:
import pandas as pd

people = pd.read_csv('2021전처리.csv', index_col=[0,1])
rate = pd.read_csv('2021흡연율.csv', index_col=0)

people

          남성연령_20  남성연령_30  남성연령_40  남성연령_50  남성연령_60  남성연령_70  여성연령_20  \
자치구코드 월
강남구   1   52309.0  81474.0  85467.0  56197.0  32425.0  25129.0  73080.0
      2   52687.0  81528.0  85096.0  56032.0  32287.0  25054.0  74006.0
      3   54626.0  86111.0  89181.0  57949.0  32635.0  25326.0  77668.0
      4   54594.0  86067.0  88797.0  58166.0  32601.0  25083.0  77850.0
      5   53963.0  82834.0  86249.0  57242.0  32082.0  24933.0  76015.0
...           ...      ...      ...      ...      ...      ...      ...
중랑구   8   21254.0  24612.0  25349.0  26393.0  19725.0  17187.0  23909.0
      9   21302.0  24928.0  25735.0  26616.0  19741.0  17313.0  23840.0
      10  21128.0  24566.0  25237.0  26101.0  19464.0  17132.0  23777.0
      11  20753.0  24204.0  25019.0  26061.0  19543.0  17230.0  23211.0
      12  21052.0  24522.0  25337.0  26390.0  19861.0  17511.0  23420.0

          여성연령_30  여성연령_40  여성연령_50  여성연령_60  여성연령_70      외국인
자치구코드 월
강남구   1   81591.0  74136.0  50490.0  39490.0  37799.0  26162.0
      2   82193.0  73946.0  50180.0  39376.0  37743.0  27376.0
      3   86690.0  76293.0  51278.0  40167.0  38215.0  27792.0
      4   87112.0  76258.0  51137.0  39771.0  37973.0  26756.0
      5   84423.0  75136.0  50639.0  39362.0  37592.0  26526.0
...           ...      ...      ...      ...      ...      ...
중랑구   8   26593.0  25896.0  31040.0  25042.0  26878.0   6515.0
      9   26763.0  26278.0  31054.0  24994.0  26855.0   6518.0
      10  26771.0  26141.0  30934.0  24830.0  26842.0   6717.0
      11  26369.0  26060.0  31003.0  24889.0  26927.0   6287.0
      12  26679.0  26280.0  31091.0  25150.0  27359.0   6430.0

[300 rows x 13 columns]

In [13]:
rate

               흡연율
연령
남성연령_20  31.347699
남성연령_30  32.522083
남성연령_40  38.824144
남성연령_50  36.662917
남성연령_60  29.312591
남성연령_70  14.502564
여성연령_20  12.592629
여성연령_30   8.560353
여성연령_40   6.671104
여성연령_50   1.994747
여성연령_60   4.510470
여성연령_70   1.416253
외국인      20.006585

In [14]:
smoker = 0

for column, smoke_rate in zip(people, rate['흡연율']):
    smoker += people[column].apply(lambda x: x * smoke_rate / 100)

smoker

자치구코드  월
강남구    1     139519.602740
       2     139786.026440
       3     145464.758802
       4     145151.022907
       5     141783.984084
                 ...
중랑구    8      52906.961552
       9      53309.096979
       10     52660.668448
       11     52171.574853
       12     52862.560166
Name: 남성연령_20, Length: 300, dtype: float64

In [15]:
people['총예상흡연자수'] = smoker
people

          남성연령_20  남성연령_30  남성연령_40  남성연령_50  남성연령_60  남성연령_70  여성연령_20  \
자치구코드 월
강남구   1   52309.0  81474.0  85467.0  56197.0  32425.0  25129.0  73080.0
      2   52687.0  81528.0  85096.0  56032.0  32287.0  25054.0  74006.0
      3   54626.0  86111.0  89181.0  57949.0  32635.0  25326.0  77668.0
      4   54594.0  86067.0  88797.0  58166.0  32601.0  25083.0  77850.0
      5   53963.0  82834.0  86249.0  57242.0  32082.0  24933.0  76015.0
...           ...      ...      ...      ...      ...      ...      ...
중랑구   8   21254.0  24612.0  25349.0  26393.0  19725.0  17187.0  23909.0
      9   21302.0  24928.0  25735.0  26616.0  19741.0  17313.0  23840.0
      10  21128.0  24566.0  25237.0  26101.0  19464.0  17132.0  23777.0
      11  20753.0  24204.0  25019.0  26061.0  19543.0  17230.0  23211.0
      12  21052.0  24522.0  25337.0  26390.0  19861.0  17511.0  23420.0

          여성연령_30  여성연령_40  여성연령_50  여성연령_60  여성연령_70      외국인        총예상흡연자수
자치구코드 월
강남구   1   81591.0  74136.0  50490.0  39490.0  37799.0  26162.0  139519.602740
      2   82193.0  73946.0  50180.0  39376.0  37743.0  27376.0  139786.026440
      3   86690.0  76293.0  51278.0  40167.0  38215.0  27792.0  145464.758802
      4   87112.0  76258.0  51137.0  39771.0  37973.0  26756.0  145151.022907
      5   84423.0  75136.0  50639.0  39362.0  37592.0  26526.0  141783.984084
...           ...      ...      ...      ...      ...      ...            ...
중랑구   8   26593.0  25896.0  31040.0  25042.0  26878.0   6515.0   52906.961552
      9   26763.0  26278.0  31054.0  24994.0  26855.0   6518.0   53309.096979
      10  26771.0  26141.0  30934.0  24830.0  26842.0   6717.0   52660.668448
      11  26369.0  26060.0  31003.0  24889.0  26927.0   6287.0   52171.574853
      12  26679.0  26280.0  31091.0  25150.0  27359.0   6430.0   52862.560166

[300 rows x 14 columns]

In [17]:
people = people.round()
people = people.astype('int')
people

          남성연령_20  남성연령_30  남성연령_40  남성연령_50  남성연령_60  남성연령_70  여성연령_20  \
자치구코드 월
강남구   1     52309    81474    85467    56197    32425    25129    73080
      2     52687    81528    85096    56032    32287    25054    74006
      3     54626    86111    89181    57949    32635    25326    77668
      4     54594    86067    88797    58166    32601    25083    77850
      5     53963    82834    86249    57242    32082    24933    76015
...           ...      ...      ...      ...      ...      ...      ...
중랑구   8     21254    24612    25349    26393    19725    17187    23909
      9     21302    24928    25735    26616    19741    17313    23840
      10    21128    24566    25237    26101    19464    17132    23777
      11    20753    24204    25019    26061    19543    17230    23211
      12    21052    24522    25337    26390    19861    17511    23420

          여성연령_30  여성연령_40  여성연령_50  여성연령_60  여성연령_70    외국인  총예상흡연자수
자치구코드 월
강남구   1     81591    74136    50490    39490    37799  26162   139520
      2     82193    73946    50180    39376    37743  27376   139786
      3     86690    76293    51278    40167    38215  27792   145465
      4     87112    76258    51137    39771    37973  26756   145151
      5     84423    75136    50639    39362    37592  26526   141784
...           ...      ...      ...      ...      ...    ...      ...
중랑구   8     26593    25896    31040    25042    26878   6515    52907
      9     26763    26278    31054    24994    26855   6518    53309
      10    26771    26141    30934    24830    26842   6717    52661
      11    26369    26060    31003    24889    26927   6287    52172
      12    26679    26280    31091    25150    27359   6430    52863

[300 rows x 14 columns]