In [1]:
import pandas as pd

people = pd.read_csv('2020생활인구.csv')
people

,기준일ID,시간대구분,자치구코드,남자15세부터19세생활인구수,남자20세부터24세생활인구수,남자25세부터29세생활인구수,남자30세부터34세생활인구수,남자35세부터39세생활인구수,남자40세부터44세생활인구수,남자45세부터49세생활인구수,...,여자55세부터59세생활인구수,여자60세부터64세생활인구수,여자65세부터69세생활인구수,여자70세이상생활인구수,중국인체류인구수,중국외외국인체류인구수,중국인체류인구수.1,중국외외국인체류인구수.1,요일,월
0,2020-01-01,0,11110,6348.0673,12253.9712,12938.7039,9583.1787,9696.6035,8895.0342,10752.8266,...,9490.4589,8222.0645,6400.1665,17695.4216,10379.4199,6209.1524,6743.2469,9407.5382,Wednesday,1.0
1,2020-01-01,0,11140,3500.9994,7226.0512,9428.2194,8787.5163,9442.4510,8264.1337,8377.4505,...,6620.2703,5915.9446,4544.3436,11603.8885,11132.8623,6521.9530,22831.2897,32527.8093,Wednesday,1.0
2,2020-01-01,0,11170,6324.2591,11834.2528,15891.0504,14739.2364,15018.9060,11916.5552,12483.4437,...,9709.4967,8643.7729,6371.5681,18755.7771,5565.1182,18655.2212,3701.8256,9778.9244,Wednesday,1.0
3,2020-01-01,0,11200,7182.9770,10466.6080,13383.5771,13654.5821,15978.9277,13432.2342,13956.0427,...,12904.2161,11578.6985,8481.8560,22570.1152,10122.0467,7846.9778,836.8684,1440.6532,Wednesday,1.0
4,2020-01-01,0,11215,12038.9403,16338.6258,18367.5701,15746.9044,16093.9988,13784.4168,15565.8778,...,14903.7537,13224.1186,9307.2924,22441.4454,19730.8466,5301.9199,1373.4035,1432.4875,Wednesday,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
219595,2020-12-31,23,11620,9286.4932,18595.6889,32894.0641,27029.4913,23753.7566,19202.5323,20569.7617,...,17435.0351,15557.4030,13130.1839,30703.4738,18634.5630,5505.7286,1526.9843,900.3448,Thursday,12.0
219596,2020-12-31,23,11650,13522.5719,12280.9308,14460.0631,15802.6365,19491.3479,21583.5104,24169.1925,...,16226.4957,14851.4468,11578.7158,27920.7343,3640.8109,6332.6846,962.7291,1694.7838,Thursday,12.0
219597,2020-12-31,23,11680,20251.4996,16558.2360,22027.7269,23573.7027,28369.1445,28567.3817,31866.4770,...,20034.7712,18114.9466,14567.9752,34078.2136,4977.1709,8640.3613,1464.1390,5083.1674,Thursday,12.0
219598,2020-12-31,23,11710,19885.0444,18608.1647,24941.9716,27706.8890,33383.4961,30549.4414,31112.3173,...,29853.7165,26337.6339,19556.6567,40528.2835,8368.2917,5690.3419,549.0522,3371.2241,Thursday,12.0
219599,2020-12-31,23,11740,14516.8545,12868.8571,16480.5157,17984.3031,22281.0699,22180.4172,22753.6294,...,22972.5990,20946.2449,15867.6609,33403.5613,6981.0408,2384.1208,549.0519,483.1716,Thursday,12.0

In [2]:
gu = pd.read_csv('C:/Users/sun/Desktop/평일/자치구코드.csv', index_col=0)
gu

       자치구 명
자치구 코드
11000   인근지역
11110    종로구
11140     중구
11170    용산구
11200    성동구
11215    광진구
11230   동대문구
11260    중랑구
11290    성북구
11305    강북구
11320    도봉구
11350    노원구
11380    은평구
11410   서대문구
11440    마포구
11470    양천구
11500    강서구
11530    구로구
11545    금천구
11560   영등포구
11590    동작구
11620    관악구
11650    서초구
11680    강남구
11710    송파구
11740    강동구

In [3]:
dict_gu = gu.to_dict()
dict_gu

{'자치구 명': {11000: '인근지역',
  11110: '종로구',
  11140: '중구',
  11170: '용산구',
  11200: '성동구',
  11215: '광진구',
  11230: '동대문구',
  11260: '중랑구',
  11290: '성북구',
  11305: '강북구',
  11320: '도봉구',
  11350: '노원구',
  11380: '은평구',
  11410: '서대문구',
  11440: '마포구',
  11470: '양천구',
  11500: '강서구',
  11530: '구로구',
  11545: '금천구',
  11560: '영등포구',
  11590: '동작구',
  11620: '관악구',
  11650: '서초구',
  11680: '강남구',
  11710: '송파구',
  11740: '강동구'}}

In [4]:
people = people.replace({'자치구코드': dict_gu['자치구 명']})
people

,기준일ID,시간대구분,자치구코드,남자15세부터19세생활인구수,남자20세부터24세생활인구수,남자25세부터29세생활인구수,남자30세부터34세생활인구수,남자35세부터39세생활인구수,남자40세부터44세생활인구수,남자45세부터49세생활인구수,...,여자55세부터59세생활인구수,여자60세부터64세생활인구수,여자65세부터69세생활인구수,여자70세이상생활인구수,중국인체류인구수,중국외외국인체류인구수,중국인체류인구수.1,중국외외국인체류인구수.1,요일,월
0,2020-01-01,0,종로구,6348.0673,12253.9712,12938.7039,9583.1787,9696.6035,8895.0342,10752.8266,...,9490.4589,8222.0645,6400.1665,17695.4216,10379.4199,6209.1524,6743.2469,9407.5382,Wednesday,1.0
1,2020-01-01,0,중구,3500.9994,7226.0512,9428.2194,8787.5163,9442.4510,8264.1337,8377.4505,...,6620.2703,5915.9446,4544.3436,11603.8885,11132.8623,6521.9530,22831.2897,32527.8093,Wednesday,1.0
2,2020-01-01,0,용산구,6324.2591,11834.2528,15891.0504,14739.2364,15018.9060,11916.5552,12483.4437,...,9709.4967,8643.7729,6371.5681,18755.7771,5565.1182,18655.2212,3701.8256,9778.9244,Wednesday,1.0
3,2020-01-01,0,성동구,7182.9770,10466.6080,13383.5771,13654.5821,15978.9277,13432.2342,13956.0427,...,12904.2161,11578.6985,8481.8560,22570.1152,10122.0467,7846.9778,836.8684,1440.6532,Wednesday,1.0
4,2020-01-01,0,광진구,12038.9403,16338.6258,18367.5701,15746.9044,16093.9988,13784.4168,15565.8778,...,14903.7537,13224.1186,9307.2924,22441.4454,19730.8466,5301.9199,1373.4035,1432.4875,Wednesday,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
219595,2020-12-31,23,관악구,9286.4932,18595.6889,32894.0641,27029.4913,23753.7566,19202.5323,20569.7617,...,17435.0351,15557.4030,13130.1839,30703.4738,18634.5630,5505.7286,1526.9843,900.3448,Thursday,12.0
219596,2020-12-31,23,서초구,13522.5719,12280.9308,14460.0631,15802.6365,19491.3479,21583.5104,24169.1925,...,16226.4957,14851.4468,11578.7158,27920.7343,3640.8109,6332.6846,962.7291,1694.7838,Thursday,12.0
219597,2020-12-31,23,강남구,20251.4996,16558.2360,22027.7269,23573.7027,28369.1445,28567.3817,31866.4770,...,20034.7712,18114.9466,14567.9752,34078.2136,4977.1709,8640.3613,1464.1390,5083.1674,Thursday,12.0
219598,2020-12-31,23,송파구,19885.0444,18608.1647,24941.9716,27706.8890,33383.4961,30549.4414,31112.3173,...,29853.7165,26337.6339,19556.6567,40528.2835,8368.2917,5690.3419,549.0522,3371.2241,Thursday,12.0
219599,2020-12-31,23,강동구,14516.8545,12868.8571,16480.5157,17984.3031,22281.0699,22180.4172,22753.6294,...,22972.5990,20946.2449,15867.6609,33403.5613,6981.0408,2384.1208,549.0519,483.1716,Thursday,12.0

In [5]:
people1 = people[people['요일']!='Sunday']
people1

,기준일ID,시간대구분,자치구코드,남자15세부터19세생활인구수,남자20세부터24세생활인구수,남자25세부터29세생활인구수,남자30세부터34세생활인구수,남자35세부터39세생활인구수,남자40세부터44세생활인구수,남자45세부터49세생활인구수,...,여자55세부터59세생활인구수,여자60세부터64세생활인구수,여자65세부터69세생활인구수,여자70세이상생활인구수,중국인체류인구수,중국외외국인체류인구수,중국인체류인구수.1,중국외외국인체류인구수.1,요일,월
0,2020-01-01,0,종로구,6348.0673,12253.9712,12938.7039,9583.1787,9696.6035,8895.0342,10752.8266,...,9490.4589,8222.0645,6400.1665,17695.4216,10379.4199,6209.1524,6743.2469,9407.5382,Wednesday,1.0
1,2020-01-01,0,중구,3500.9994,7226.0512,9428.2194,8787.5163,9442.4510,8264.1337,8377.4505,...,6620.2703,5915.9446,4544.3436,11603.8885,11132.8623,6521.9530,22831.2897,32527.8093,Wednesday,1.0
2,2020-01-01,0,용산구,6324.2591,11834.2528,15891.0504,14739.2364,15018.9060,11916.5552,12483.4437,...,9709.4967,8643.7729,6371.5681,18755.7771,5565.1182,18655.2212,3701.8256,9778.9244,Wednesday,1.0
3,2020-01-01,0,성동구,7182.9770,10466.6080,13383.5771,13654.5821,15978.9277,13432.2342,13956.0427,...,12904.2161,11578.6985,8481.8560,22570.1152,10122.0467,7846.9778,836.8684,1440.6532,Wednesday,1.0
4,2020-01-01,0,광진구,12038.9403,16338.6258,18367.5701,15746.9044,16093.9988,13784.4168,15565.8778,...,14903.7537,13224.1186,9307.2924,22441.4454,19730.8466,5301.9199,1373.4035,1432.4875,Wednesday,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
219595,2020-12-31,23,관악구,9286.4932,18595.6889,32894.0641,27029.4913,23753.7566,19202.5323,20569.7617,...,17435.0351,15557.4030,13130.1839,30703.4738,18634.5630,5505.7286,1526.9843,900.3448,Thursday,12.0
219596,2020-12-31,23,서초구,13522.5719,12280.9308,14460.0631,15802.6365,19491.3479,21583.5104,24169.1925,...,16226.4957,14851.4468,11578.7158,27920.7343,3640.8109,6332.6846,962.7291,1694.7838,Thursday,12.0
219597,2020-12-31,23,강남구,20251.4996,16558.2360,22027.7269,23573.7027,28369.1445,28567.3817,31866.4770,...,20034.7712,18114.9466,14567.9752,34078.2136,4977.1709,8640.3613,1464.1390,5083.1674,Thursday,12.0
219598,2020-12-31,23,송파구,19885.0444,18608.1647,24941.9716,27706.8890,33383.4961,30549.4414,31112.3173,...,29853.7165,26337.6339,19556.6567,40528.2835,8368.2917,5690.3419,549.0522,3371.2241,Thursday,12.0
219599,2020-12-31,23,강동구,14516.8545,12868.8571,16480.5157,17984.3031,22281.0699,22180.4172,22753.6294,...,22972.5990,20946.2449,15867.6609,33403.5613,6981.0408,2384.1208,549.0519,483.1716,Thursday,12.0

In [6]:
people2 = people1[people1['요일']!='Saturday']
people2

,기준일ID,시간대구분,자치구코드,남자15세부터19세생활인구수,남자20세부터24세생활인구수,남자25세부터29세생활인구수,남자30세부터34세생활인구수,남자35세부터39세생활인구수,남자40세부터44세생활인구수,남자45세부터49세생활인구수,...,여자55세부터59세생활인구수,여자60세부터64세생활인구수,여자65세부터69세생활인구수,여자70세이상생활인구수,중국인체류인구수,중국외외국인체류인구수,중국인체류인구수.1,중국외외국인체류인구수.1,요일,월
0,2020-01-01,0,종로구,6348.0673,12253.9712,12938.7039,9583.1787,9696.6035,8895.0342,10752.8266,...,9490.4589,8222.0645,6400.1665,17695.4216,10379.4199,6209.1524,6743.2469,9407.5382,Wednesday,1.0
1,2020-01-01,0,중구,3500.9994,7226.0512,9428.2194,8787.5163,9442.4510,8264.1337,8377.4505,...,6620.2703,5915.9446,4544.3436,11603.8885,11132.8623,6521.9530,22831.2897,32527.8093,Wednesday,1.0
2,2020-01-01,0,용산구,6324.2591,11834.2528,15891.0504,14739.2364,15018.9060,11916.5552,12483.4437,...,9709.4967,8643.7729,6371.5681,18755.7771,5565.1182,18655.2212,3701.8256,9778.9244,Wednesday,1.0
3,2020-01-01,0,성동구,7182.9770,10466.6080,13383.5771,13654.5821,15978.9277,13432.2342,13956.0427,...,12904.2161,11578.6985,8481.8560,22570.1152,10122.0467,7846.9778,836.8684,1440.6532,Wednesday,1.0
4,2020-01-01,0,광진구,12038.9403,16338.6258,18367.5701,15746.9044,16093.9988,13784.4168,15565.8778,...,14903.7537,13224.1186,9307.2924,22441.4454,19730.8466,5301.9199,1373.4035,1432.4875,Wednesday,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
219595,2020-12-31,23,관악구,9286.4932,18595.6889,32894.0641,27029.4913,23753.7566,19202.5323,20569.7617,...,17435.0351,15557.4030,13130.1839,30703.4738,18634.5630,5505.7286,1526.9843,900.3448,Thursday,12.0
219596,2020-12-31,23,서초구,13522.5719,12280.9308,14460.0631,15802.6365,19491.3479,21583.5104,24169.1925,...,16226.4957,14851.4468,11578.7158,27920.7343,3640.8109,6332.6846,962.7291,1694.7838,Thursday,12.0
219597,2020-12-31,23,강남구,20251.4996,16558.2360,22027.7269,23573.7027,28369.1445,28567.3817,31866.4770,...,20034.7712,18114.9466,14567.9752,34078.2136,4977.1709,8640.3613,1464.1390,5083.1674,Thursday,12.0
219598,2020-12-31,23,송파구,19885.0444,18608.1647,24941.9716,27706.8890,33383.4961,30549.4414,31112.3173,...,29853.7165,26337.6339,19556.6567,40528.2835,8368.2917,5690.3419,549.0522,3371.2241,Thursday,12.0
219599,2020-12-31,23,강동구,14516.8545,12868.8571,16480.5157,17984.3031,22281.0699,22180.4172,22753.6294,...,22972.5990,20946.2449,15867.6609,33403.5613,6981.0408,2384.1208,549.0519,483.1716,Thursday,12.0

In [7]:
people2['요일'].value_counts()

Wednesday    31800
Thursday     31800
Friday       31200
Monday       31200
Tuesday      30600
Name: 요일, dtype: int64

In [8]:
columns = people2.columns
people2 = people2.groupby(['자치구코드', '월'])[columns].mean()
people2

            시간대구분  남자15세부터19세생활인구수  남자20세부터24세생활인구수  남자25세부터29세생활인구수  \
자치구코드 월
강남구   1.0    11.5     25558.511463     22334.041219     37592.626704
      2.0    11.5     25102.083576     22426.047789     38979.861021
      3.0    11.5     23792.596896     20896.295535     36209.632247
      4.0    11.5     25160.475985     21273.819190     35712.958805
      5.0    11.5     25317.557864     21518.525533     35512.037267
...           ...              ...              ...              ...
중랑구   8.0    11.5      8041.707550      9755.378997     11843.420924
      9.0    11.5      8103.908290      9854.620856     11973.222024
      10.0   11.5      7895.212706      9764.135396     11738.799377
      11.0   11.5      7785.923470      9600.447478     11624.085312
      12.0   11.5      8106.017666      9582.399526     12074.176460

            남자30세부터34세생활인구수  남자35세부터39세생활인구수  남자40세부터44세생활인구수  \
자치구코드 월
강남구   1.0      40796.394697     48555.055015     43519.475033
      2.0      42802.068102     51047.744280     46169.493946
      3.0      39772.335971     47445.024140     44046.139496
      4.0      39443.863959     46837.196220     43328.968412
      5.0      39305.543855     46708.977283     42694.446684
...                     ...              ...              ...
중랑구   8.0      11160.994411     13674.842329     12261.924945
      9.0      11373.251606     13940.008093     12516.507189
      10.0     11140.386130     13781.692002     12360.866197
      11.0     11000.601706     13592.647216     12135.736955
      12.0     11580.367068     14068.724172     12509.711802

            남자45세부터49세생활인구수  남자50세부터54세생활인구수  남자55세부터59세생활인구수  ...  \
자치구코드 월                                                        ...
강남구   1.0      43443.313628     30649.207138     25753.123283  ...
      2.0      45687.388963     32091.982018     26669.159483  ...
      3.0      44277.799457     31218.868020     25863.619574  ...
      4.0      43736.771085     30838.314804     25440.350217  ...
      5.0      43390.116738     30629.404180     25202.471589  ...
...                     ...              ...              ...  ...
중랑구   8.0      13366.802385     12836.712009     13969.381197  ...
      9.0      13444.368352     12885.069866     14031.148774  ...
      10.0     13424.326118     12695.539370     13953.837650  ...
      11.0     13100.729079     12478.124345     13931.063199  ...
      12.0     13377.790763     12685.522417     14127.067952  ...

            여자50세부터54세생활인구수  여자55세부터59세생활인구수  여자60세부터64세생활인구수  \
자치구코드 월
강남구   1.0      25927.931197     26261.245411     24691.071981
      2.0      26581.693296     26777.813410     24924.037309
      3.0      25811.753291     25942.743433     23966.868338
      4.0      25742.003219     25551.002352     23521.139136
      5.0      25786.970183     25524.895894     23343.197701
...                     ...              ...              ...
중랑구   8.0      14739.765091     16994.106222     14558.398350
      9.0      14921.852030     17153.061063     14682.658338
      10.0     14718.737909     16927.281580     14471.728323
      11.0     14729.812188     17027.708890     14422.640830
      12.0     14904.109932     17260.433374     14695.528044

            여자65세부터69세생활인구수  여자70세이상생활인구수      중국인체류인구수   중국외외국인체류인구수  \
자치구코드 월
강남구   1.0      18737.765153  41951.787304  11637.704727  12094.083436
      2.0      19065.862095  42681.918816  11857.034093  11493.862782
      3.0      18408.580348  41187.071590  10689.529269  10484.192213
      4.0      18170.322723  40543.339102  10612.322458  10342.268224
      5.0      18168.683760  40225.566092  10841.694344  10502.991221
...                     ...           ...           ...           ...
중랑구   8.0      10656.344280  28094.526274   3761.415035   2296.032807
      9.0      10813.889927  28076.947738   3813.124159   2412.219396
      10.0     10710.900691  27710.927751   3829.424254   2316.387808
      11.0     10710.512233  27826.061580   3734.643515   2342.575993
      12.0     10940.124212  28240.666804   3837.998538   2375.227883

             중국인체류인구수.1  중국외외국인체류인구수.1     월
자치구코드 월
강남구   1.0   5760.698359   11448.125854   1.0
      2.0   5247.878807   10295.425605   2.0
      3.0   2066.148511    9085.476639   3.0
      4.0   1693.067127    8531.964025   4.0
      5.0    921.565841    8272.455199   5.0
...                 ...            ...   ...
중랑구   8.0    405.479314     368.208952   8.0
      9.0    263.743216     396.182011   9.0
      10.0   309.462073     471.995795  10.0
      11.0   427.553462     452.252905  11.0
      12.0   287.820974     410.169910  12.0

[300 rows x 30 columns]

In [9]:
people3 = people2.copy()

In [10]:
people3['남성연령_20'] = people2['남자20세부터24세생활인구수'] + people2['남자25세부터29세생활인구수']
people3['남성연령_30'] = people2['남자30세부터34세생활인구수'] + people2['남자35세부터39세생활인구수']
people3['남성연령_40'] = people2['남자40세부터44세생활인구수'] + people2['남자45세부터49세생활인구수']
people3['남성연령_50'] = people2['남자50세부터54세생활인구수'] + people2['남자55세부터59세생활인구수']
people3['남성연령_60'] = people2['남자60세부터64세생활인구수'] + people2['남자65세부터69세생활인구수']
people3['남성연령_70'] = people2['남자70세이상생활인구수']
people3['여성연령_20'] = people2['여자20세부터24세생활인구수'] + people2['여자25세부터29세생활인구수']
people3['여성연령_30'] = people2['여자30세부터34세생활인구수'] + people2['여자35세부터39세생활인구수']
people3['여성연령_40'] = people2['여자40세부터44세생활인구수'] + people2['여자45세부터49세생활인구수']
people3['여성연령_50'] = people2['여자50세부터54세생활인구수'] + people2['여자55세부터59세생활인구수']
people3['여성연령_60'] = people2['여자60세부터64세생활인구수'] + people2['여자65세부터69세생활인구수']
people3['여성연령_70'] = people2['여자70세이상생활인구수']
people3

            시간대구분  남자15세부터19세생활인구수  남자20세부터24세생활인구수  남자25세부터29세생활인구수  \
자치구코드 월
강남구   1.0    11.5     25558.511463     22334.041219     37592.626704
      2.0    11.5     25102.083576     22426.047789     38979.861021
      3.0    11.5     23792.596896     20896.295535     36209.632247
      4.0    11.5     25160.475985     21273.819190     35712.958805
      5.0    11.5     25317.557864     21518.525533     35512.037267
...           ...              ...              ...              ...
중랑구   8.0    11.5      8041.707550      9755.378997     11843.420924
      9.0    11.5      8103.908290      9854.620856     11973.222024
      10.0   11.5      7895.212706      9764.135396     11738.799377
      11.0   11.5      7785.923470      9600.447478     11624.085312
      12.0   11.5      8106.017666      9582.399526     12074.176460

            남자30세부터34세생활인구수  남자35세부터39세생활인구수  남자40세부터44세생활인구수  \
자치구코드 월
강남구   1.0      40796.394697     48555.055015     43519.475033
      2.0      42802.068102     51047.744280     46169.493946
      3.0      39772.335971     47445.024140     44046.139496
      4.0      39443.863959     46837.196220     43328.968412
      5.0      39305.543855     46708.977283     42694.446684
...                     ...              ...              ...
중랑구   8.0      11160.994411     13674.842329     12261.924945
      9.0      11373.251606     13940.008093     12516.507189
      10.0     11140.386130     13781.692002     12360.866197
      11.0     11000.601706     13592.647216     12135.736955
      12.0     11580.367068     14068.724172     12509.711802

            남자45세부터49세생활인구수  남자50세부터54세생활인구수  남자55세부터59세생활인구수  ...  \
자치구코드 월                                                        ...
강남구   1.0      43443.313628     30649.207138     25753.123283  ...
      2.0      45687.388963     32091.982018     26669.159483  ...
      3.0      44277.799457     31218.868020     25863.619574  ...
      4.0      43736.771085     30838.314804     25440.350217  ...
      5.0      43390.116738     30629.404180     25202.471589  ...
...                     ...              ...              ...  ...
중랑구   8.0      13366.802385     12836.712009     13969.381197  ...
      9.0      13444.368352     12885.069866     14031.148774  ...
      10.0     13424.326118     12695.539370     13953.837650  ...
      11.0     13100.729079     12478.124345     13931.063199  ...
      12.0     13377.790763     12685.522417     14127.067952  ...

                 남성연령_40       남성연령_50       남성연령_60       남성연령_70  \
자치구코드 월
강남구   1.0   86962.788660  56402.330421  34890.798554  28316.305359
      2.0   91856.882909  58761.141501  35518.115500  28362.972234
      3.0   88323.938953  57082.487594  34601.313630  27430.695150
      4.0   87065.739498  56278.665021  33758.404621  26943.589150
      5.0   86084.563422  55831.875769  33493.931599  26682.325394
...                  ...           ...           ...           ...
중랑구   8.0   25628.727329  26806.093206  20030.938328  17666.529735
      9.0   25960.875541  26916.218640  20077.831731  17723.561673
      10.0  25785.192316  26649.377020  19863.361352  17608.407369
      11.0  25236.466033  26409.187544  19897.551923  17523.684406
      12.0  25887.502566  26812.590369  20307.049276  18004.568566

                 여성연령_20       여성연령_30       여성연령_40       여성연령_50  \
자치구코드 월
강남구   1.0   85788.033479  88580.960005  74373.932032  52189.176608
      2.0   88513.419404  92510.702639  77102.162192  53359.506706
      3.0   81156.439395  85746.888468  74291.297776  51754.496724
      4.0   80824.809124  85702.480220  73830.648269  51293.005571
      5.0   81020.522157  86257.749365  73942.921889  51311.866077
...                  ...           ...           ...           ...
중랑구   8.0   24386.601968  26632.507342  26587.413333  31733.871313
      9.0   24877.723208  27385.356813  27143.211238  32074.913093
      10.0  24147.305117  26915.849129  26861.983729  31646.019489
      11.0  23869.293448  26725.777250  26625.243894  31757.521079
      12.0  24832.926507  27583.920189  26946.665985  32164.543306

                 여성연령_60       여성연령_70
자치구코드 월
강남구   1.0   43428.837134  41951.787304
      2.0   43989.899403  42681.918816
      3.0   42375.448686  41187.071590
      4.0   41691.461859  40543.339102
      5.0   41511.881461  40225.566092
...                  ...           ...
중랑구   8.0   25214.742629  28094.526274
      9.0   25496.548265  28076.947738
      10.0  25182.629015  27710.927751
      11.0  25133.153063  27826.061580
      12.0  25635.652257  28240.666804

[300 rows x 42 columns]

In [11]:
people3.drop(columns=['남자20세부터24세생활인구수', '남자25세부터29세생활인구수', '남자30세부터34세생활인구수', '남자35세부터39세생활인구수',
            '남자40세부터44세생활인구수', '남자45세부터49세생활인구수', '남자50세부터54세생활인구수', '남자55세부터59세생활인구수',
            '남자60세부터64세생활인구수', '남자65세부터69세생활인구수', '남자70세이상생활인구수'], axis=1, inplace=True)
people3

            시간대구분  남자15세부터19세생활인구수  여자15세부터19세생활인구수  여자20세부터24세생활인구수  \
자치구코드 월
강남구   1.0    11.5     25558.511463     26097.218850     35941.322908
      2.0    11.5     25102.083576     24536.329414     36305.366489
      3.0    11.5     23792.596896     23290.281411     33554.178095
      4.0    11.5     25160.475985     24331.001184     33607.495486
      5.0    11.5     25317.557864     24395.213820     33514.226569
...           ...              ...              ...              ...
중랑구   8.0    11.5      8041.707550      8059.922572     11437.148670
      9.0    11.5      8103.908290      8132.140485     11618.958491
      10.0   11.5      7895.212706      8001.923420     11263.077317
      11.0   11.5      7785.923470      7833.838781     11086.944368
      12.0   11.5      8106.017666      7783.559569     11439.622196

            여자25세부터29세생활인구수  여자30세부터34세생활인구수  여자35세부터39세생활인구수  \
자치구코드 월
강남구   1.0      49846.710571     44740.329782     43840.630223
      2.0      52208.052915     46941.503684     45569.198954
      3.0      47602.261300     43001.798746     42745.089722
      4.0      47217.313639     43121.640656     42580.839564
      5.0      47506.295588     43445.264261     42812.485104
...                     ...              ...              ...
중랑구   8.0      12949.453297     12532.006408     14100.500935
      9.0      13258.764717     12834.268172     14551.088641
      10.0     12884.227800     12582.725934     14333.123195
      11.0     12782.349080     12436.719277     14289.057973
      12.0     13393.304311     12844.430116     14739.490074

            여자40세부터44세생활인구수  여자45세부터49세생활인구수  여자50세부터54세생활인구수  ...  \
자치구코드 월                                                        ...
강남구   1.0      37649.089840     36724.842192     25927.931197  ...
      2.0      39247.989435     37854.172757     26581.693296  ...
      3.0      37684.705904     36606.591872     25811.753291  ...
      4.0      37539.367080     36291.281189     25742.003219  ...
      5.0      37486.372873     36456.549016     25786.970183  ...
...                     ...              ...              ...  ...
중랑구   8.0      12202.696480     14384.716853     14739.765091  ...
      9.0      12549.544950     14593.666288     14921.852030  ...
      10.0     12413.242000     14448.741728     14718.737909  ...
      11.0     12319.942157     14305.301737     14729.812188  ...
      12.0     12514.133036     14432.532949     14904.109932  ...

                 남성연령_40       남성연령_50       남성연령_60       남성연령_70  \
자치구코드 월
강남구   1.0   86962.788660  56402.330421  34890.798554  28316.305359
      2.0   91856.882909  58761.141501  35518.115500  28362.972234
      3.0   88323.938953  57082.487594  34601.313630  27430.695150
      4.0   87065.739498  56278.665021  33758.404621  26943.589150
      5.0   86084.563422  55831.875769  33493.931599  26682.325394
...                  ...           ...           ...           ...
중랑구   8.0   25628.727329  26806.093206  20030.938328  17666.529735
      9.0   25960.875541  26916.218640  20077.831731  17723.561673
      10.0  25785.192316  26649.377020  19863.361352  17608.407369
      11.0  25236.466033  26409.187544  19897.551923  17523.684406
      12.0  25887.502566  26812.590369  20307.049276  18004.568566

                 여성연령_20       여성연령_30       여성연령_40       여성연령_50  \
자치구코드 월
강남구   1.0   85788.033479  88580.960005  74373.932032  52189.176608
      2.0   88513.419404  92510.702639  77102.162192  53359.506706
      3.0   81156.439395  85746.888468  74291.297776  51754.496724
      4.0   80824.809124  85702.480220  73830.648269  51293.005571
      5.0   81020.522157  86257.749365  73942.921889  51311.866077
...                  ...           ...           ...           ...
중랑구   8.0   24386.601968  26632.507342  26587.413333  31733.871313
      9.0   24877.723208  27385.356813  27143.211238  32074.913093
      10.0  24147.305117  26915.849129  26861.983729  31646.019489
      11.0  23869.293448  26725.777250  26625.243894  31757.521079
      12.0  24832.926507  27583.920189  26946.665985  32164.543306

                 여성연령_60       여성연령_70
자치구코드 월
강남구   1.0   43428.837134  41951.787304
      2.0   43989.899403  42681.918816
      3.0   42375.448686  41187.071590
      4.0   41691.461859  40543.339102
      5.0   41511.881461  40225.566092
...                  ...           ...
중랑구   8.0   25214.742629  28094.526274
      9.0   25496.548265  28076.947738
      10.0  25182.629015  27710.927751
      11.0  25133.153063  27826.061580
      12.0  25635.652257  28240.666804

[300 rows x 31 columns]

In [12]:
people3.drop(columns=['여자20세부터24세생활인구수', '여자25세부터29세생활인구수', '여자30세부터34세생활인구수', '여자35세부터39세생활인구수',
            '여자40세부터44세생활인구수', '여자45세부터49세생활인구수', '여자50세부터54세생활인구수', '여자55세부터59세생활인구수',
            '여자60세부터64세생활인구수', '여자65세부터69세생활인구수', '여자70세이상생활인구수', '여자15세부터19세생활인구수',
                     '남자15세부터19세생활인구수'], axis=1, inplace=True)
people3

            시간대구분      중국인체류인구수   중국외외국인체류인구수   중국인체류인구수.1  중국외외국인체류인구수.1  \
자치구코드 월
강남구   1.0    11.5  11637.704727  12094.083436  5760.698359   11448.125854
      2.0    11.5  11857.034093  11493.862782  5247.878807   10295.425605
      3.0    11.5  10689.529269  10484.192213  2066.148511    9085.476639
      4.0    11.5  10612.322458  10342.268224  1693.067127    8531.964025
      5.0    11.5  10841.694344  10502.991221   921.565841    8272.455199
...           ...           ...           ...          ...            ...
중랑구   8.0    11.5   3761.415035   2296.032807   405.479314     368.208952
      9.0    11.5   3813.124159   2412.219396   263.743216     396.182011
      10.0   11.5   3829.424254   2316.387808   309.462073     471.995795
      11.0   11.5   3734.643515   2342.575993   427.553462     452.252905
      12.0   11.5   3837.998538   2375.227883   287.820974     410.169910

               월       남성연령_20       남성연령_30       남성연령_40       남성연령_50  \
자치구코드 월
강남구   1.0    1.0  59926.667923  89351.449712  86962.788660  56402.330421
      2.0    2.0  61405.908810  93849.812382  91856.882909  58761.141501
      3.0    3.0  57105.927782  87217.360110  88323.938953  57082.487594
      4.0    4.0  56986.777996  86281.060179  87065.739498  56278.665021
      5.0    5.0  57030.562800  86014.521138  86084.563422  55831.875769
...          ...           ...           ...           ...           ...
중랑구   8.0    8.0  21598.799921  24835.836740  25628.727329  26806.093206
      9.0    9.0  21827.842879  25313.259699  25960.875541  26916.218640
      10.0  10.0  21502.934774  24922.078132  25785.192316  26649.377020
      11.0  11.0  21224.532789  24593.248921  25236.466033  26409.187544
      12.0  12.0  21656.575986  25649.091239  25887.502566  26812.590369

                 남성연령_60       남성연령_70       여성연령_20       여성연령_30  \
자치구코드 월
강남구   1.0   34890.798554  28316.305359  85788.033479  88580.960005
      2.0   35518.115500  28362.972234  88513.419404  92510.702639
      3.0   34601.313630  27430.695150  81156.439395  85746.888468
      4.0   33758.404621  26943.589150  80824.809124  85702.480220
      5.0   33493.931599  26682.325394  81020.522157  86257.749365
...                  ...           ...           ...           ...
중랑구   8.0   20030.938328  17666.529735  24386.601968  26632.507342
      9.0   20077.831731  17723.561673  24877.723208  27385.356813
      10.0  19863.361352  17608.407369  24147.305117  26915.849129
      11.0  19897.551923  17523.684406  23869.293448  26725.777250
      12.0  20307.049276  18004.568566  24832.926507  27583.920189

                 여성연령_40       여성연령_50       여성연령_60       여성연령_70
자치구코드 월
강남구   1.0   74373.932032  52189.176608  43428.837134  41951.787304
      2.0   77102.162192  53359.506706  43989.899403  42681.918816
      3.0   74291.297776  51754.496724  42375.448686  41187.071590
      4.0   73830.648269  51293.005571  41691.461859  40543.339102
      5.0   73942.921889  51311.866077  41511.881461  40225.566092
...                  ...           ...           ...           ...
중랑구   8.0   26587.413333  31733.871313  25214.742629  28094.526274
      9.0   27143.211238  32074.913093  25496.548265  28076.947738
      10.0  26861.983729  31646.019489  25182.629015  27710.927751
      11.0  26625.243894  31757.521079  25133.153063  27826.061580
      12.0  26946.665985  32164.543306  25635.652257  28240.666804

[300 rows x 18 columns]

In [13]:
people3['외국인'] = people3['중국인체류인구수'] + people3['중국외외국인체류인구수'] + people3['중국인체류인구수.1'] + people3['중국외외국인체류인구수.1']
people3.drop(columns=['중국인체류인구수', '중국외외국인체류인구수', '중국인체류인구수.1', '중국외외국인체류인구수.1'], axis=1, inplace=True)
people3

            시간대구분     월       남성연령_20       남성연령_30       남성연령_40  \
자치구코드 월
강남구   1.0    11.5   1.0  59926.667923  89351.449712  86962.788660
      2.0    11.5   2.0  61405.908810  93849.812382  91856.882909
      3.0    11.5   3.0  57105.927782  87217.360110  88323.938953
      4.0    11.5   4.0  56986.777996  86281.060179  87065.739498
      5.0    11.5   5.0  57030.562800  86014.521138  86084.563422
...           ...   ...           ...           ...           ...
중랑구   8.0    11.5   8.0  21598.799921  24835.836740  25628.727329
      9.0    11.5   9.0  21827.842879  25313.259699  25960.875541
      10.0   11.5  10.0  21502.934774  24922.078132  25785.192316
      11.0   11.5  11.0  21224.532789  24593.248921  25236.466033
      12.0   11.5  12.0  21656.575986  25649.091239  25887.502566

                 남성연령_50       남성연령_60       남성연령_70       여성연령_20  \
자치구코드 월
강남구   1.0   56402.330421  34890.798554  28316.305359  85788.033479
      2.0   58761.141501  35518.115500  28362.972234  88513.419404
      3.0   57082.487594  34601.313630  27430.695150  81156.439395
      4.0   56278.665021  33758.404621  26943.589150  80824.809124
      5.0   55831.875769  33493.931599  26682.325394  81020.522157
...                  ...           ...           ...           ...
중랑구   8.0   26806.093206  20030.938328  17666.529735  24386.601968
      9.0   26916.218640  20077.831731  17723.561673  24877.723208
      10.0  26649.377020  19863.361352  17608.407369  24147.305117
      11.0  26409.187544  19897.551923  17523.684406  23869.293448
      12.0  26812.590369  20307.049276  18004.568566  24832.926507

                 여성연령_30       여성연령_40       여성연령_50       여성연령_60  \
자치구코드 월
강남구   1.0   88580.960005  74373.932032  52189.176608  43428.837134
      2.0   92510.702639  77102.162192  53359.506706  43989.899403
      3.0   85746.888468  74291.297776  51754.496724  42375.448686
      4.0   85702.480220  73830.648269  51293.005571  41691.461859
      5.0   86257.749365  73942.921889  51311.866077  41511.881461
...                  ...           ...           ...           ...
중랑구   8.0   26632.507342  26587.413333  31733.871313  25214.742629
      9.0   27385.356813  27143.211238  32074.913093  25496.548265
      10.0  26915.849129  26861.983729  31646.019489  25182.629015
      11.0  26725.777250  26625.243894  31757.521079  25133.153063
      12.0  27583.920189  26946.665985  32164.543306  25635.652257

                 여성연령_70           외국인
자치구코드 월
강남구   1.0   41951.787304  40940.612375
      2.0   42681.918816  38894.201286
      3.0   41187.071590  32325.346631
      4.0   40543.339102  31179.621834
      5.0   40225.566092  30538.706606
...                  ...           ...
중랑구   8.0   28094.526274   6831.136108
      9.0   28076.947738   6885.268783
      10.0  27710.927751   6927.269930
      11.0  27826.061580   6957.025875
      12.0  28240.666804   6911.217306

[300 rows x 15 columns]

In [14]:
people3.drop(['시간대구분', '월'], axis=1, inplace=True)
people3 = people3.round()
people3

            남성연령_20  남성연령_30  남성연령_40  남성연령_50  남성연령_60  남성연령_70  여성연령_20  \
자치구코드 월
강남구   1.0   59927.0  89351.0  86963.0  56402.0  34891.0  28316.0  85788.0
      2.0   61406.0  93850.0  91857.0  58761.0  35518.0  28363.0  88513.0
      3.0   57106.0  87217.0  88324.0  57082.0  34601.0  27431.0  81156.0
      4.0   56987.0  86281.0  87066.0  56279.0  33758.0  26944.0  80825.0
      5.0   57031.0  86015.0  86085.0  55832.0  33494.0  26682.0  81021.0
...             ...      ...      ...      ...      ...      ...      ...
중랑구   8.0   21599.0  24836.0  25629.0  26806.0  20031.0  17667.0  24387.0
      9.0   21828.0  25313.0  25961.0  26916.0  20078.0  17724.0  24878.0
      10.0  21503.0  24922.0  25785.0  26649.0  19863.0  17608.0  24147.0
      11.0  21225.0  24593.0  25236.0  26409.0  19898.0  17524.0  23869.0
      12.0  21657.0  25649.0  25888.0  26813.0  20307.0  18005.0  24833.0

            여성연령_30  여성연령_40  여성연령_50  여성연령_60  여성연령_70      외국인
자치구코드 월
강남구   1.0   88581.0  74374.0  52189.0  43429.0  41952.0  40941.0
      2.0   92511.0  77102.0  53360.0  43990.0  42682.0  38894.0
      3.0   85747.0  74291.0  51754.0  42375.0  41187.0  32325.0
      4.0   85702.0  73831.0  51293.0  41691.0  40543.0  31180.0
      5.0   86258.0  73943.0  51312.0  41512.0  40226.0  30539.0
...             ...      ...      ...      ...      ...      ...
중랑구   8.0   26633.0  26587.0  31734.0  25215.0  28095.0   6831.0
      9.0   27385.0  27143.0  32075.0  25497.0  28077.0   6885.0
      10.0  26916.0  26862.0  31646.0  25183.0  27711.0   6927.0
      11.0  26726.0  26625.0  31758.0  25133.0  27826.0   6957.0
      12.0  27584.0  26947.0  32165.0  25636.0  28241.0   6911.0

[300 rows x 13 columns]

In [15]:
people3.to_csv('2020전처리.csv')

In [17]:
rate = pd.read_csv('흡연율2020.csv', index_col=0)
rate

       흡연율
성연령별
남성20  32.0
남성30  35.8
남성40  41.5
남성50  36.5
남성60  27.3
남성70  15.0
여성20  10.9
여성30   8.8
여성40   5.7
여성50   2.0
여성60   4.3
여성70   1.7
외국인   19.2

In [19]:
rate.to_csv('2020흡연율.csv')